$modal-sm: calc( 100vw - 50px);
$modal-md: calc( 100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

.no-show {
    opacity: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.simulation-controls {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 0px 20px;
    width: 100vw;
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 0.5rem auto;
    justify-content: center;
    align-content: center;
    .btn {
        height: max-content;
        width: 11ch;
    }
}

.input-area {
    display: grid;
    grid-template-columns: max-content;
    margin: 20px auto;
    gap: 10px;
    width: max-content;
    justify-items: center;
    .input-row {
        display: grid;
        grid-template-columns: 160px 10rem 27px 0px;
        gap: 1ch;
        align-items: end;
        .data-name {
            justify-self: end;
        }
        .data-value {
            text-align: end;
        }
    }
}

#plot-container {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
}

.dashed {
    stroke-dasharray: 5px;
}

#plot-overlays-container {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;

    .plot-dot {
        position: absolute;
        width: 9px;
        height: 9px;
        background-color: blue;
        border: 1px solid black;
        border-radius: 4.5px;
        transform: translate(-50%, -50%);
    }

    .text-over-plot {
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(-50%, -50%);
        background-color: rgb(253, 253, 253);
        z-index: 1;
        padding: 0px 3px;
        border-radius: 8px;
        opacity: 0;
    }

    .shift-left {
        mjx-math {
            transform: translateX(-3px);
        }
    }

    #above-plot-label {
        position: absolute;
        left: 0px;
        top: 0px;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
}

#p5-container {
    width: max-content;
    margin: auto;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

#loading {
    margin-left: 15px;
    font-size: 1.5rem;
    width: 100vw;
    text-align: center;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;
    .references {
        font-size: 0.8rem;
    }
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &>li {
            margin-left: 1rem;
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
        }
    }
}

.simulation-title {
    width: 100vw;
    text-align: center;
    padding: 8px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    background-color: rgb(240, 240, 240);
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}