@charset "UTF-8";
/* CSS Document */

:root {
    font-size: 15px;
    overflow: hidden;
}

body {
    font-size: 1.6rem;
    margin: 0px;
}

#main {
    background-color: #FFFFFF;
    position: relative;
}

.eq>mjx-container:focus {
    outline:none;
}
