@charset "UTF-8";
/* CSS Document */

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: left;

  /* This centers our sketch vertically. */
  align-items: top;
}