/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #f8f7f7;
}

/* Wrapper for the entire simulation */
#simulation-wrapper {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Controls and inputs wrapper */
.controls-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.inputs-wrapper {
  display: grid;
  justify-content: center;
}

/* Button group styling */
.btn-group-sm .btn {
  margin-right: 5px;
}

#speciesBrep {
  display: flex;
  align-items: center;
}

#speciesBrep .btn {
  margin-right: 5px;
}

/* Inputs section */
.inputs {
  margin-bottom: 20px;
}

.select-row {
  display: grid;
  grid-template-columns: max-content 230px 15px max-content;
  justify-items: baseline;
  align-items: end;
  gap: 5px;
}

.balance {
  display: grid;
  grid-template-columns: max-content 360px 15px max-content;
  gap: 10px;
  align-items: end;
  justify-items: center;
}

.shuffle-btn {
  display: grid;
  grid-template-rows: min-content max-content;
}


#condenser-type {
  width: max-content;

}



/* Modal buttons styling */
.simulation-controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  grid-column: 3;
}

.simulation-controls .btn {
  height: 4.8vh;

}

/* Input area and slider styling */
.input-area {
  display: grid;
  grid-template-columns: max-content 150px 15px max-content;
  gap: 155px;
  align-items: end;
  justify-items: center;
  margin-top: 10px;
  margin-right: 15px;
}

.input-row {
  display: grid;
  grid-template-columns: max-content 250px 15px max-content;
  align-items: baseline;
}

.input-label {
  flex: 0 0 auto;
  /* Ensures the label takes up only the space it needs */
  margin-right: 10px;
  /* Reduces the space between the label and the slider */
  font-weight: bold;
  /* Optional: makes the label stand out */
}


input[type="range"] {
  flex: 0.3;
  margin: 0 10px;
}

.value-label {
  width: 30px;
  text-align: end;
}

#shuffle-btn {
  width: max-content;
}

.btn,
btn-outline-primary {
  margin-left: 5px;
}

#equation {
  font-size: 1.2em;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

#graphics-wrapper {
  margin-top: 90px;
  height: 400px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6c757d;
}

/* Modal styles */
.modal-content {
  padding: 20px;
}

.modal-body p {
  font-size: 1rem;
  line-height: 1.6;
}

.modal-title {
  font-weight: bold;
}

.close {
  border: none;
  background: transparent;
  font-size: 1.5rem;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  #simulation-wrapper {
    padding: 10px;
  }

  .controls-wrapper {
    flex-direction: column;
  }

  .input-area {
    flex-direction: column;
  }

  input[type="range"] {
    margin: 10px 0;
  }

  .value-label {
    margin-top: 10px;
  }
}