:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;

}

#simulation-title {
  width: 100vw;
  height: 2.2rem;

  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  font-size: 1.125rem;

}

#simulation-wrapper {
  width: 80%;
  height: calc(100vh - 45rem);

  margin: 0 auto;

  position: relative;

}

.inputs-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-items: center;
  align-items: center;
  gap: 1rem 0.3rem;
  margin-top: 0.6rem;
}

.input-row {
  display: grid;
  grid-template-columns: max-content 17.5rem 0.9rem max-content;
  gap: 0.6rem;
  align-items: end;
  justify-items: center;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
}

.balance {
  display: grid;
  grid-template-columns: max-content 6.9rem 2.2rem max-content;
  align-items: baseline;
  justify-items: center;
  margin-top: 0;
  margin-left: 1rem;
}



.simulation-controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
  margin-right: -2rem;
}

#modal-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 30rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
}




.inputs {
  display: inline-block;
}

#defaultCanvas0 {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#speciesBrep {
  position: absolute;
  z-index: 3;
  left: 18.75rem;

  row-gap: 0.6rem;
  min-width: 16.9rem;

  margin-top: 0.9rem;
}

.select-row {
  min-width: 16.5rem;

  display: ruby;
  position: absolute;
  left: 1rem;

  top: 0.6rem;
}

#equation {
  position: absolute;
  top: calc(10% + 30px);

  left: calc(10% + 240px);

  font-size: 1.2rem;
  z-index: 2;
}

.first {
  color: blue;
  display: inline;
}

#condenser-type {
  display: grid;
  min-width: 16.9rem;

  position: absolute;
  z-index: 3;
  left: 38.4rem;

  top: 3.5rem;

  width: 12.5rem;

  height: 2.5rem;

}

#shuffle-btn {
  position: absolute;
  z-index: 3;
  left: 41.4rem;

  bottom: -1.1rem;

  min-width: 7.75rem;

}

.close {
  position: relative;
  left: 40rem;

}