.load-wheel {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.hidden {
    display: none;
}

.spinner {
  width: 3rem;
  height: 3rem;
  border: 4px solid #e0e0e0;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
}

.load-wheel.loading .spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.load-wheel p {
  margin: 0;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 500;
}

.load-backdrop {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #757575;
    opacity: 50%;
}