#app {
  width: 800px;
}

#controls-area {
  display: grid;
  grid-template-columns: 100%;
  width: 640px;
  margin-bottom: 2rem;
}

#top-controls-row {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
  justify-items: center;
  gap: 20px;
  margin: 20px;
}

#bottom-controls-row {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 80px;
  margin: 0rem 0rem 1rem 4.5rem;
}

select {
  height: min-content;
  padding: 0.25rem;
}

.data-area {
  display: grid;
}

.data-row {
  display: grid;
  align-items: center;
  gap: 1ch;
}

#input-variables {
  gap: 1px;
}

#input-variables .data-row {
  grid-template-columns: 20ch min-content 5ch;
  font-size: 0.9rem;
}

#output-variables {
  height: min-content;
  gap: 0.25rem;
}

#output-variables .data-row {
  grid-template-columns: 16ch max-content 5ch;
  font-size: 0.9rem;
  gap: 0ch;
}

#output-variables .data-value {
  padding-left: 0.2rem;
  width: max-content;
  min-width: 4.8ch;
}

.data-name {
  justify-self: end;
}

input[type="text"].form-control {
  width: 8ch !important;
  padding: 0.1rem 0.25rem;
  font-size: 1em;
}

input[type="text"].form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25)
}

#modal-buttons {
  grid-column: 1;
}

#other-buttons {
  grid-column: 2;
  justify-self: start;
}

#modal-buttons .btn, #other-buttons .btn {
  margin: 0rem 0.5rem;
  width: 10ch;
}

#image-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

#object-fall-area {
  height: min-content;
}

#object-fall-area img {
  vertical-align: top;
}

#structureImage {
  margin-top: 3px;

  height: 285px;
}

#objImage {
  position : relative;
  top : 0px;
  left : 50px;
  width : 40px;
  height : 40px;
  transform : translateY(-100%);
}

#plot {
  width: 400px;
  height: 350px;
}

.y1LabelLayer {
  font-size: 0.9rem;
}

.x1LabelLayer {
  font-size: 0.9rem;
}