#app {
  width: 800px;
}

body {
  display: grid;
  justify-content: center;
  justify-items: center;
}

#controls-area {
  display: grid;
  grid-template-columns: 100%;
  width: 640px;
  margin-bottom: 1rem;
}

div{
  font-size: 13px;
}

#top-controls-row {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  justify-items: center;
  gap: 10px;
  margin: 10px;
  margin-bottom: 20px;
}

#bottom-controls-row {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 20px;
  margin: 0rem 0rem 0rem 1rem;
}

select {
  height: min-content;
  padding: 0.25rem;
}

.data-area {
  display: grid;
  align-items: center;
}

.data-row {
  display: grid;
  align-items: center;
  grid-template-columns: 20ch min-content 5ch;
  gap: 1ch;
  font-size: 0.9rem;
}

.speed-row {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

#input-variables {
  gap: 1px;
}

.select-row
{
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 150px max-content;
  gap: 0px 10px;
  padding-top: 10px;
}

.select-row>div {
  justify-self: right;
}

.input-row {
  display: grid;
  grid-template-columns: 150px 100px 5ch 2ch;
  align-items: center;
  gap: 0px 5px;
}

#output-variables {
  height: min-content;
  gap: 0rem;
}

#output-variables .data-row {
  grid-template-columns: 16ch max-content 5ch;
  font-size: 0.9rem;
  gap: 0ch;
}

#output-variables .data-value {
  padding-left: 0.2rem;
  width: max-content;
  min-width: 5.8ch;
}

.data-name {
  justify-self: end;
}

input[type="text"].form-control {
  width: 8ch !important;
  padding: 0.1rem 0.25rem;
  font-size: 1em;
}

input[type="text"].form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(0,123,255,.25)
}

input[type=range] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:disabled {
  opacity: 0.3 !important;
  /* pointer-events: none !important; */
  cursor: not-allowed !important;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 10px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

#modal-buttons {
  grid-column: 1;
}

#other-buttons {
  grid-column: 2;
  justify-self: start;
}

#modal-buttons .btn, #other-buttons .btn {
  margin: 0rem 0.5rem;
  width: 11ch;
}

#image-area {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

#object-fall-area {
  height: min-content;
  display: grid;
  grid-template-rows: max-content;
  justify-items: center;
  justify-content: center;
  min-width: 235px;
  position: relative;
}

#object-fall-area img {
  vertical-align: top;
}

#structureImage {
  margin-top: 0px;
  width: 188.89px;
  height: 285px;
  /* position: absolute;
  top: 180px;
  left: 30px; */
  z-index: 0;
}

#objImage {
  position : absolute;
  top : 30px;
  left : 50px;
  width : 30px;
  height : 30px;
  transform : translateY(-100%);
  z-index: 1;
}

#slider-wrapper {
  left: 450.203px; 
  top: 4.27021px; 
  width: 228.057px; 
  height: 65.2731px;
}

.slidecontainer {
  width: max-content;
  /* position: absolute;
  left: 2.5rem;
  top: 475px; */
  line-height: 1.5rem;
}

#plot {
  width: 400px;
  height: 350px;
}

.y1LabelLayer {
  font-size: 0.9rem;
}

.x1LabelLayer {
  font-size: 0.9rem;
}

.modal-body .modal-text {
  max-width: 70ch;
  text-align: justify;
}

.modal-body .modal-equation {
  width: max-content;
  margin-left: 15px;
  padding: 2px;
}

.modal-text+.modal-text {
  margin-top: 10px;
}

.modal-equation.no-padding {
  padding: 0px;
}

mjx-mrow>* {
  margin-right: 1px !important;
}