.root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    padding: 0.5em;
}

input {
    cursor: pointer;
}

#graphics-wrapper {
    position: relative;
    width: max-content;
    margin: auto;

    #inputs-wrapper {
        width: 100%;
        position: absolute;

        input {
            position: absolute;

            &.hidden {
                display: none;
            }

            &.answer-box {
                width: 50px;
            }
        }
    }
}

canvas {
    border: 1px solid black;
    box-shadow: 0px 0px 1px 1px grey;
}

.nav-bar {
    display: grid;
    margin: auto;
    grid-template-columns: 200px 400px 200px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 800px
}

.nav-bar-column {
    display: grid;
    margin: auto;
    width: fit-content;
    justify-items: left;
}

.modal-buttons-container {
    display: grid;
    margin: auto;
    padding: 5px;
    gap: 10px;
    grid-template-columns: 100px 100px 100px;
    width: max-content;
}

.buttons-container {
    display: grid;
    padding: 5px;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
    width: inherit;
    margin-bottom: 0.5em;
}

#hex-btn-container {
    grid-template-columns: 100px 100px;
    justify-self: center;
    gap: 20px;
}

.slider-wrapper {
    display: grid;
    justify-self: baseline;
    justify-content: center;
    align-items: end;
    grid-template-columns: max-content 150px 20px;
    margin-left: 1.5em;
    margin-bottom: 5px;
    gap: 10px;
}

#time-wrapper {
    display: grid;
    grid-template-columns: 300px 40px 40px;
    gap: 5px;
    align-items: center;

    #progress-bar {
        width: 300px;
    }
}

.buttons-container {
    display: grid;
    grid-template-columns: max-content max-content 80px;
    gap: 8px;

    .btn {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        gap: 10px;

        div {
            transform: translateY(-2px);
        }
    }

    #start-reset-btn {
        /* padding: 6px; */
        /* width: 38px; */
        height: 38px;

        .fa-arrow-rotate-left {
            position: relative;
            left: 5px;
        }
    }

    #prev-btn {
        height: 38px;
        width: 45px;

        .fa-backward-step {
            position: relative;
            left: 5px;
        }
    }

    #next-button {
        width: 80px;
    }
}

.controls-wrapper {
    display: grid;

    &.hidden {
        display: none;
    }
}

#input-name {
    width: 250px;
    left: 300px;
    top: 180px;
}

#calc-lmtd-btn {
    position: absolute;
    width: max-content;
    left: 550px;
    top: 220px;
}

.hidden,
.btn.hidden,
#time-wrapper.hidden,
.close-btns-wrapper.hidden {
    display: none;
}

.close-btns-wrapper {
    display: grid;
    grid-template-columns: max-content max-content max-content max-content;
    gap: 5px;
}

.btn-danger#process-pump-btn,
.btn-danger:hover {
    background-color: orangered;
}

#pump-btns {
    grid-template-columns: max-content max-content;

    .btn {
        position: relative;
        gap: 0px;
        left: -15px
    }
}

.tooltip-area {
    position: absolute;
    /* background-color: yellow; */
    top: 450px;
    width: 126px;
    height: 150px;
}

#hi-tooltip {
    left: 75px;
}

#ho-tooltip {
    left: 237px;
}

#ci-tooltip {
    left: 400px;
}

#co-tooltip {
    left: 574px;
}

#reset-modal-footer {
    display: grid;
    grid-template-columns: 150px 150px auto;
    align-items: end;
    justify-content: space-evenly;
}

@media (min-width: 768px) {
    /* .modal-l {
        width: 80%;
        max-width: 1000px;
    } */

    .modal-xl {
        width: 70%;
        max-width: 1200px;

        #reset-modal-footer {
            grid-template-columns: max-content max-content auto;
        }

    }
}