@import "bootstrap";
@import "./slider.scss";

#controls {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: min-content;
  gap: 20px;
  align-items: center;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .btn {
    margin-top: 0.5rem;
    justify-self: center;
  }
}

#control-sliders {
  display: grid;
  grid-template-columns: max-content 150px 7ch;
  white-space: nowrap;
  align-items: end;
  gap: 10px;
  .label {
    text-align: end;
  }
}

#start-button, #reset-button {
  width: 8rem;
}

.control-box {
  display: grid;
  gap: 10px;

  &.right {
    align-self: end;
    gap: 5px;
  }
}

.control-box-title {
  text-align: center;
}

#control-buttons {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 20px;
}

#select-ball {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.35rem;
}

#graphics-area {
  display: grid;
  width: 800px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 320px;
  gap: 1rem;
  margin-left: 1rem;

}

#parameters {
  width: max-content;
  align-self: end;
  border: 1px solid black;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  box-shadow: 0px 0px 3px black;

  .parameter {
    display: grid;
    grid-template-columns: 16ch max-content 4ch;
    gap: 0.3rem;
    margin-bottom: 0.15rem;
    justify-items: start;
    
    .parameter-name {
      justify-self: end;
      white-space: nowrap;
    }

    #reynolds-number {
      grid-column: 2 / -1;
    }

  }
}

#roughnessImg {
  position: absolute;
  top: 392px;
  left: 38px;
}

.legendLayer {
  &>rect {
    fill: white;
    stroke:black;
  }
  &>g {
    transform: translateY(3pt);
    text {
      transform: translateX(-2pt);
    }
  }
}

#legend-container {
  // position: absolute;
  width: 130px !important;
  height: 220px;
  box-shadow: 0px 0px 2px black;
}

// #legend-container::before {
//   content: "Legend";
//   // position: relative;
//   top: 0px;
//   left: 0px;
//   width: 130px;
//   height: 30px;
//   text-align: center;
//   background-color: white;
//   border: 1px solid black;
//   box-shadow: 0px 0px 2px black;
// }