@import "bootstrap";

#controls {
  display: grid;
  grid-template-columns: 110px 310px;
  align-items: center;
  justify-items: center;
  margin-left: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#start-button {
  width: 4rem;
}

#graphics-area {
  display: grid;
  grid-template-columns: 500px 200px;
  grid-template-rows: 300px 300px;
  gap: 1rem;
  margin-left: 1rem;

  #parameters {
    height: 250px;
    border: 1px solid black;
    padding: 1rem;
    font-size: 1.2rem;

    .parameter {
      width: 100%;
      display: grid;
      grid-template-columns: 50% 20% 30%;
      gap: 0.5rem;
      margin-bottom: 0.5rem;
      justify-items: start;
      
      .parameter-name {
        justify-self: end;
      }

      #reynolds-number {
        grid-column: 2 / -1;
      }

    }
  }
}

// k 1 = k/d = 1250 × 10 −5 , k 2 = 500 × 10 −5 , k 3 = 150 × 10 −5

#roughnessPlot {
  width: 500px;
  height: 336px;
}

#roughnessImg {
  position: absolute;
  top: 392px;
  left: 38px;
}