:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

#master-wrapper {
  margin-top: 10px;
  display: grid;
}

#simulation-wrapper {
  display: grid;
  grid-template-rows: min-content max-content;
  justify-items: center;
  align-items: center;
  width: 100vw;
  height: min-content;
  margin-bottom: 30px;
}

.inputs-wrapper {
  display: grid;
  grid-template-columns: max-content max-content 190px;
  justify-items: center;
  align-items: center;
  gap: 15px 5px;
}

.input-row {
  display: grid;
  grid-template-columns: max-content 200px 15px max-content;
  /* 250 px was formerly 150 px, Dr. F asked me to make it much longer*/
  gap: 10px;
  align-items: end;
  justify-items: center;
}

.select-row {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-column: 1 / 3;
  gap: 10px;
  align-items: center;
  justify-self: start;
}

#point-type {
  height: min-content;
  grid-column: 1 / 3;
}

#plot-points-options {
  height: min-content;
  grid-column: 3;
  width: 300px;
  transform: translateX(-30px);
  justify-self: end;
}

#slider-container {
  justify-self: end;
}

select {
  padding: 2px 5px;
}

#graphics-wrapper {
  width: 100vw;
  height: max-content;
  display: grid;
  justify-content: center;
}

canvas {
  border: 1px solid black;
  box-shadow: 0px 0px 2px 2px grey;
}

label {
  margin-right: 20px;
}

#modal-buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  /* These were all previously 1fr. I changed them to hopefully get the on the same line as the feed,solvent,raffinate button or the slider once we can make them appear/disappear */
  gap: 5px;
  grid-column: 3;
  justify-self: end;
  transform: translateX(-30px);
}

.modal-body .modal-text {
  max-width: 70ch;
  text-align: justify;
}

.modal-body .modal-equation {
  width: max-content;
  margin-left: 15px;
  padding: 2px;
}

.modal-text+.modal-text {
  margin-top: 10px;
}

.modal-equation.no-padding {
  padding: 0px;
}

#triangle-type {
  display: grid;
  grid-template-columns: repeat(2, 110px);
  align-content: center;
}

.simulation-controls {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  justify-content: center;
  gap: 0px 20px;
  width: 100vw;
}

.feed-mass-fracs span {
  display: block;
  line-height: 1.7em;
  font-size: 80%;
}