/* The slider itself */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 3px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  margin-bottom: 0.5rem;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}


#graphics-container {
  position: relative;
}

#p5-container canvas,
.slider-container div,
.slider-container input {
  position: absolute !important;
}
