.textboxanswer {
    font-size: 2.0rem;
    color: green;
    margin-left: 10px;
    padding: 5px;
}

.textboxanswershown {
    border: 1px solid green;
}

::-webkit-input-placeholder {
    opacity: 0.4;
}
::-moz-input-placeholder {
    opacity: 0.4;
}
