.root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    padding: 0.5em;
}

input {
    cursor: pointer;
}

#graphics-wrapper {
    /* position: absolute; */
    width: 100vw;
    top: 200px;
    height: max-content;
    display: grid;
    justify-content: center;
    margin-top: 15px;
}

canvas {
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px grey;
}

.nav-bar {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw
}

.nav-bar-left {
    display: grid;
    width: 400px;
    justify-items: center;
}

.nav-bar-right {
    display: grid;
    width: 400px;
    justify-items: left;
}

.buttons-container {
    display: grid;
    padding: 5px;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
    width: inherit;
    margin-bottom: 0.5em;
}

#display-btn-wrapper {
    display: grid;
    padding: 5px;
    grid-template-columns: 150px 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: inherit;
    margin-bottom: 0.5em;
}

.slider-wrapper {
    display: grid;
    justify-self: baseline;
    justify-content: center;
    align-items: end;
    grid-template-columns: max-content 150px 20px;
    margin-left: 1.5em;
    margin-bottom: 5px;
    gap: 10px;
}

#piston-slider-wrapper {
    grid-template-columns: max-content 350px max-content;
}

#labelled-btn-container {
    grid-template-columns: max-content 60px 60px 60px;
    gap: 10px;
    padding: 5px
}

#label-btn {
    margin-top: 20px;
    margin-left: 60px
}

#reset-piston-btn {
    margin-bottom: -5px;
}