
.stages-menu {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  height: max-content;
}

.menu-header {
    width: 100%;
    padding: .5em;
}

hr {
    display: block;
    height: 1px;
    width: 90%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
}

.confirm-wrapper {
    display: flex;
    margin: .5em 0;
    margin-top: 1em;
    width: 100%;
    justify-content: flex-end;
}

.confirm-btn {
    margin-right: 5%;
    background-color: var(--hamburger-color);
}