@charset "UTF-8";
/* CSS Document */

html, body {
  height: 100%;
	font-family: sans-serif;
}

body {
  margin: 0;
	padding-top: 10px;
	display: grid;
	grid-template-rows: min-content 1fr;
}

.wrapper {
  display: grid;
  justify-items: center;
  max-width: 800px;
	width: max-content;
	margin: auto;
  grid-row-gap: 0.25rem;
  grid-template-rows: auto 40px 600px;
  grid-template-areas:
	"button1 button2 button3"
	"title title title"
    "cnv cnv cnv"
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 2rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
	margin: auto;
	padding: 1.5rem;
	padding-top: 3rem;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #1b1b1b;
	float: right;
	font-size: 2rem;
	font-weight: bold;
	transform: translateY(-2.5rem);
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

#plotContainer {
  margin-top: 0px;
}

.buttonMed {
  text-align: center;
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:sans-serif;
	font-size:1.25rem;
	padding:0.25rem 0.75rem;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buttonMed:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	font-family:sans-serif;
	text-decoration:none;
	font-weight:bold;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.buttonMed:active {
	position:relative;
	font-family:sans-serif;
	font-weight:bold;
	text-decoration:none;
}

#directionsButton {
  grid-area: button1;
}
#detailsButton {
  grid-area: button2;
}
#aboutButton {
  grid-area: button3;
}

#title {
	grid-area: title;
	transform: translateY(20px);
	z-index: 9;
	font-size: 1.25rem;
}

#title1 {
	transform: translateY(-5px);
}

#plotContainer {
  grid-area: cnv;
  justify-self: start;
  align-self: start;
}

.latex {
	height: 2rem;
	padding-top: 5px;
}

.latexTitle {
	height: 1.5rem;
}

#ABC {
	height: 1.3rem;
}

#directions-content {
	text-align: left;
	line-height: 1.5rem;
}

#details-content {
	line-height: 1.25rem;
	padding-top: 0rem;
}