/*
 * File: MISstyle.css
 * Purpose: To provide the styling and page formatting for the Melting Ice simulation (melting-ice.html)
 * Author: Emily Ehrenberger (July 2011)
 *		   Under the supervision of Margot Vigeant, Bucknell University
 *		   Based on Flash simulation by Matt Koppenhaver under Professor Michael Prince
 * (c) Margot Vigeant 2011
*/

:root {
	font-size: 12px;
}

.wrapper {
	width: 500px;

	min-height: 500px;
	min-width: 500px;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-gap: 10px;
	background-color: none;
	color: none;
}

.box {
	height: 200px;
	background-color: rgb(100, 99, 99, 0);
	border-radius: 5px;
	padding: 0px;
	font-size: 150%;
}

.b {
	position: relative;
	display: grid;
	grid-template-rows: 5% 5% 15%;
}

.d {
	height: 300px;
	grid-row: 3;
	grid-column: 1 / span 3;
	position: relative;
	padding-bottom: calc(100% / 2);
}

.b3 {
	height: 40px;
	grid-row: 2;
	grid-column: 1 / span 3;
	position: relative;
	bottom:10px;
	justify-self: center;
	transform: translateX(-100px);
}

#initConds {
	position: absolute;
/* 	left: 50%;
	transform: translate(-50%, 0%); */
	top: 5%;
	font-size: 1rem;
	margin-right: 7%;
	white-space: nowrap;
	justify-self: right;
	text-align: center;
}

#beakersImg {
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	max-width: 100%;
	height: 47%;
	overflow: hidden;
}

#buttons1 {
	position: absolute;
	display: inline-block;
	justify-self: left;
	margin-top: 20px;
	margin-left: 15%;
}

#buttons2 {
	position: absolute;
	justify-self: left;
	margin-top: 70px;
	margin-left: 17%;
}

.graphChoose {
	position: absolute;
	justify-self: right;
	top: 60px;
	right: 0px;
	font-size: 1rem;
}

#graphInfo {
	position: absolute;
	display: inline-block;
	justify-self: center;
	margin-top: 5px;
}

#waterImg {
	display: inline-block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	max-width: 100%;
	height: 47%;
	overflow: hidden;
	opacity: 0.7;
	z-index: 2;
}

.sit1block {
	position: absolute;
	bottom: 40%;
	left: 0px;
	height: 42px;
	width: 42px;
	background: url('blocks.png') 0 0;
	z-index: 0;
	box-shadow: 1px 1px grey;
}

.sit2block {
	position: absolute;
	bottom: 40%;
	right: 0px;
	height: 42px;
	width: 42px;
	background: url('blocks.png') 0 0;
	z-index: 0;
	box-shadow: 1px 1px grey;
}

.sit1Ice {
	position: absolute;
	height: 19.5%;
	width: 10.2%;
	border-style: solid;
	border-width: thin;
	opacity: 0.9;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url('blueGradient.png') 0 0;
	z-index: 1;
}

.sit2Ice {
	position: absolute;
	height: 9.5%;
	width: 10.2%;
	border-style: solid;
	border-width: thin;
	opacity: 0.9;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: url('blueGradient.png') 0 0;
	z-index: 1;
}

/*****Classes for graph elements*****/

.sit1Point {
	position: absolute;
	height: 0.6%;
	width: 0.5%;
	background-color: #C00;
}

.sit2Point {
	position: absolute;
	height: 0.4%;
	width: 0.4%;
	background-color: #03C;
}

.myTooltip {
	position: absolute;
	background-color: #FFC;
	border-style: solid;
	border-width: thin;
	border-color: #000;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-left: 1px;
	font-family: sans-serif;
	font-size: 0.85rem;
	z-index: 3;
	/* Ensure the tooltip appears on top of all the images (except for tooltipTrigger images) */
	/* Prevent browsers from automatically putting scrollbars everywhere */
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	line-height: normal;
}

#stirBar1 {
	position: absolute;
	bottom: 5%;
	left: 20%;
	z-index: 0;
}

#stirBar2 {
	position: absolute;
	bottom: 5%;
	right: 20%;
	z-index: 0;
}

#sit1block1 {
	left: 5%;
}

#sit1block2 {
	left: 14%;
}

#sit1block3 {
	left: 23%;
}

#sit1block4 {
	left: 32%;
}

#sit2block1 {
	right: 5%;
}

#sit2block2 {
	right: 14%;
}

#sit2block3 {
	right: 23%;
}

#sit2block4 {
	right: 32%;
}

#sit1Ice1 {
	bottom: 33%;
	left: 6%;
}

#sit1Ice2 {
	bottom: 31%;
	left: 19%;
}

#sit1Ice3 {
	bottom: 33%;
	left: 32%;
}

#sit2Ice1 {
	bottom: 33%;
	right: 6%;
}

#sit2Ice2 {
	bottom: 31%;
	right: 19%;
}

#sit2Ice3 {
	bottom: 33%;
	right: 32%;
}

/***** graph elements/labels *****/

#yLabel1 {
	position: absolute;
	top: 65%;
	left: 6%;
}

#yLabel2 {
	position: absolute;
	top: 44%;
	left: 6%;
}

#yLabel3 {
	position: absolute;
	top: 23%;
	left: 6%;
}

#yLabel4 {
	position: absolute;
	top: 1%;
	left: 6%;
}

#xLabel1 {
	position: absolute;
	top: 90%;
	left: 32%;
}

#xLabel2 {
	position: absolute;
	top: 90%;
	left: 55%;
}

#xLabel3 {
	position: absolute;
	top: 90%;
	left: 77%;
}

#xLabel4 {
	position: absolute;
	top: 90%;
	left: 98%;
}

/* text bubbles of "more info" */
#graphHeightInfo {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 30rem;
	height: 7rem;
	padding-left: 9px;
	padding-top: 7px;
}

#graphSlopeInfo {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 30rem;
	height: 12rem;
	padding-left: 11px;
	padding-top: 7px;
}

input[type="radio"] {
	margin-right: 5px;
  }