/*
 * File: MISstyle.css
 * Purpose: To provide the styling and page formatting for the Melting Ice simulation (melting-ice.html)
 * Author: Emily Ehrenberger (July 2011)
 *		   Under the supervision of Margot Vigeant, Bucknell University
 *		   Based on Flash simulation by Matt Koppenhaver under Professor Michael Prince
 * (c) Margot Vigeant 2011
*/

:root {
	font-size: 12px;
}

.wrapper {
	width: 500px;

	min-height: 500px;
	min-width: 500px;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	background-color: none;
	color: none;
}

.box {
	height: 200px;
	background-color: rgb(100, 99, 99, 0);
	border-radius: 5px;
	padding: 0px;
	font-size: 150%;
}

.b {
	position: relative;
	display: grid;
}

.d {
	height: 300px;
	grid-row: 3;
	grid-column: 1 / span 3;
	position: relative;
}

.b1 {
	position: absolute;
	right: 0px;
	bottom: 300px;
}

.b2 {
	position: absolute;
	right: 25px;
	bottom: 250px;
}

.btn-lg {
	right: 100px;
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 0;
    display: inline-block;
    line-height: 30px;
	text-align: center;
}

.btn-md {
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 0;
    display: inline-block;
    line-height: 30px;
	text-align: center;
}

#initConds {
	position: absolute;
/* 	left: 50%;
	transform: translate(-50%, 0%); */
	top: 0%;
	font-size: 1rem;
	margin-right: 7%;
	white-space: nowrap;
	justify-self: center;
	text-align: center;
	line-height: 1.3rem;
	background-color: rgb(231, 235, 226);
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
}

#beakersImg {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 47%;
	overflow: hidden;
}

#buttons1 {
	position: absolute;
	display: inline-block;
	justify-self: left;
	margin-top: 0rem;
	margin-left: 15%;
}

#buttons2 {
	position: absolute;
	justify-self: left;
	margin-top: 30px;
	margin-left: 17%;
}

.graphChoose {
	position: absolute;
	justify-self: right;
	top: 35px;
	right: 0px;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0px;
}

#graphInfo {
	position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 0;
    display: inline-block;
    line-height: 30px;
	text-align: center;
	right: 0px;
	bottom: 0px;
}

#waterImg {
	display: inline-block;
	position: absolute;
	left: 2.5%;
	bottom: 1.7%;
	max-width: 95%;
	height: 36.5%;
	overflow: hidden;
	opacity: 0.5;
	z-index: 2;
}

.sit1block {
	position: absolute;
	bottom: 55%;
	left: 0px;
	height: 42px;
	width: 42px;
	background: url('blocks.png') 0 0;
	z-index: 0;
	box-shadow: 1px 1px grey;
}

.sit2block {
	position: absolute;
	bottom: 55%;
	right: 0px;
	height: 42px;
	width: 42px;
	background: url('blocks.png') 0 0;
	z-index: 0;
	box-shadow: 1px 1px grey;
}

.sit1Ice {
	position: absolute;
	height: 14.3%;
	width: 10.0%;
	z-index: 1;
	opacity: 0.8;
	bottom: 37%;
}

.sit2Ice {
	position: absolute;
	height: 14.3%;
	width: 10.0%;
	z-index: 1;
	opacity: 0.8;
	bottom: 37%;
}

/*****Classes for graph elements*****/


.myTooltip {
	position: absolute;
	background-color: #FFC;
	border-style: solid;
	border-width: thin;
	border-color: #000;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-left: 1px;
	font-family: sans-serif;
	font-size: 0.85rem;
	z-index: 3;
	/* Ensure the tooltip appears on top of all the images (except for tooltipTrigger images) */
	/* Prevent browsers from automatically putting scrollbars everywhere */
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	line-height: normal;
}

#stirBar1 {
	position: absolute;
	bottom: 5%;
	left: 20%;
	z-index: 0;
	width: 10%;
}

#stirBar2 {
	position: absolute;
	bottom: 5%;
	right: 20%;
	z-index: 0;
	width: 10%;
}

#sit1block1 {
	left: 5%;
}

#sit1block2 {
	left: 14%;
}

#sit1block3 {
	left: 23%;
}

#sit1block4 {
	left: 32%;
}

#sit2block1 {
	right: 5%;
}

#sit2block2 {
	right: 14%;
}

#sit2block3 {
	right: 23%;
}

#sit2block4 {
	right: 32%;
}

#sit1Ice1 {
	left: 12%;
	transform: translate(-50%, 50%) rotate(15deg);
}

#sit1Ice2 {
	left: 25%;
	transform: translate(-50%, 50%) rotate(-15deg);
}

#sit1Ice3 {
	left: 37%;
	transform: translate(-50%, 50%) rotate(5deg);
}

#sit2Ice1 {
	right: 11%;
	transform: translate(50%, 50%) rotate(-12deg);
}

#sit2Ice2 {
	right: 23%;
	transform: translate(50%, 50%) rotate(10deg);
}

#sit2Ice3 {
	right: 36%;
	transform: translate(50%, 50%) rotate(3deg);
}

.temps {
	position: absolute;
	font-size: 1rem;
	bottom: 200px;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
	line-height: 1.3rem;
}

#temps1 {
	left: 0%;
	background-color: rgb(255, 203, 203);
}

#temps2 {
	right: 0%;
	background-color: rgb(202, 220, 255);
}
/***** graph elements/labels *****/


/* text bubbles of "more info" */
#graphHeightInfo {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 30rem;
	height: 7rem;
	padding-left: 9px;
	padding-top: 7px;
}

#graphSlopeInfo {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 30rem;
	height: 12rem;
	padding-left: 11px;
	padding-top: 7px;
}

input[type="radio"] {
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
  }


#modalDirections {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	padding-top: 8rem; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#modalDetails {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	padding-top: 8rem; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
#directions-content {
	background-color: #fefefe;
	margin: auto;
	padding: 1.5rem;
	padding-top: 3rem;
	border: 1px solid #888;
	width: 80%;
}
  
#details-content {
	background-color: #fefefe;
	margin: auto;
	padding: 1.5rem;
	padding-top: 3rem;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #1b1b1b;
	float: right;
	font-size: 2rem;
	font-weight: bold;
	transform: translateY(-2.5rem);
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.latex {
	padding: 0.1rem 0.2rem;
	transform: scale(0.8) translateY(-0.1rem);
}