.input-area {
    display: grid;
    grid-template-columns: 19ch 20ch 5ch;
    align-items: center;
    gap: 0px 10px;
}

.value-area {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
    margin: 0rem 0rem 0rem 1rem;
}

.group-slider {
  display: grid;
  grid-template-columns: 15ch 5ch;
  gap: 1ch;
}
.deptRow {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    margin: 0rem 0rem 0rem 1rem;
    align-items: center;

}

.modalButtonsRow {
    display: grid;
    grid-template-columns: repeat(3, 12ch );
    gap: 20px;
    margin: 0rem 0rem 0rem 1rem;

}

li {
  margin-bottom: 0.5rem;
}

.modal-body .modal-text {
    max-width: 70ch;
    text-align: justify;
}

.modal-body .modal-equation {
  width: max-content;
  margin-left: 15px;
  padding: 2px;
}

.modal-text+.modal-text {
  margin-top: 10px;
}

.modal-equation.no-padding {
  padding: 0px;
}