/* :root basically means the entire document. By default, it uses serif (e.g. times new roman) font, which looks awful */
:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* Octothorpes (#) refer to an ID of an element, like <div id="simulation-title"></div>*/
/* vw means "viewport width". It is a percentage of the window width, so 100vw means the width of the entire browser. Margin is essentially what it says it is - it adds a buffer between elements. */
#simulation-title {
  width: 100vw; /* positions your Alex's Template title on the page*/
  height: 30px; /* Changes the amoutn of weight space below the title */
  text-align: center; /* Aligns text in the middle of the screen */
  margin-top: 15px; /* Alters the whitespace at the top of the website  */
  margin-bottom: 5px; /* same as above -- opposite*/
  font-size: 18px; /* Changes the font size of the title*/
}

/* You can use calc() to calculate variables, so height in this context is the browser width minus 100 pixels */
/* Position: absolute means that you can specify the exact placement in pixels of the element, instead of the browser trying to automatically detect where to put it. So it is 0px to the left and 0px from the top of the browser window.  I wouldn't recommend using position:absolute for most things, but in this context it makes the simulation-wrapper element essentially the same exact size as the browser window. */
#simulation-wrapper {
  position: absolute; /* changes sizing of simulation*/
  left: 0px; /* */
  top: 0px; /* changes poisition of whole simulation */
  width: 100vw;
  height: calc(100vh - 100px);
}

/* Display: grid is my favorite way of placing elements. As you can tell, I use it a lot. See this website for a brief synopsis: https://grid.malven.co . Gap is the space between grid elements. */
.inputs-wrapper {
  display: grid; 
  grid-template-columns: max-content max-content;
  justify-content: center;
  align-content: center;
  gap: 15px 20px; /* changes positioning of the inputs above the simulation window*/
}
/* alters the text after sliders (0 and units)*/
.input-row {
  display: grid;
  grid-template-columns: 120px 150px 3ch 3.5ch;
  gap: 2px;
  align-items: end;
  justify-items: center;
  height: 15px; /* moves the group of inputs up and down the page */
}

.input-label {
  margin-right: 10px;
}

.options-wrapper {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 10px;
}

.checkbox-wrapper {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  align-content: center;
  width: 16px;
  height: 25px;
  overflow: visible;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-self: center;
}

.checkbox-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

.checkbox-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  pointer-events: none;
  outline: 1px solid slategray;
  border-radius: 2px;
}

.checkbox-wrapper .checkbox-label {
  padding-left: 28px;
  font-size: 14px;
  cursor: default;
  transform: translateY(-1px);
  pointer-events: none;
}

.checkbox-wrapper:hover input~.checkmark {
  background-color: #ccc;
}

.checkbox-wrapper input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark {
  margin: 3px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper input:checked~.checkmark:after {
  display: block;
}

.checkbox-wrapper .checkmark:after {
  left: 5.5px;
  top: 1.5px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="range"] {
  margin-right: 15px;
}

.value-label {
  text-align: right;
  width: 25px;
}

.input-label {
  text-align: right;
  justify-self: right;
}

#gate-weight-value {
  width: 25px;
  margin-right: 5px;
}

#water-height {
  margin-left: 2px;
}

/*  Affects selection button and selection value spacing*/
.select-row {
  display: grid;
  grid-template-columns: 50px max-content max-content;
  gap: 10px;
  align-items: center;
  margin-left: 5px;
}

.select-label {
  text-align: right;
}

select {
  padding: 4px 8px;
  width: 130px;
}

#graphics-wrapper {
  position: absolute;
  top: 130px;
  width: 100vw;
  height: max-content;
  display: grid;
  justify-content: center;
}

/* Box shadows can often make elements appear as though they're "floating" above the page, and I really like the aesthetic of it, so I use it a lot alongside a 1 pixel black border */
canvas {
  border: 1px solid rgb(0, 0, 0); /* affects border colors around simulaiton window*/
  box-shadow: 0px 0px 2px 2px grey;
}