#app {
  display: grid;
  margin: auto;
  width: min-content;
  height: min-content;
  position: relative;
}

/* ─────────────────────────────────────────────────────────────────────────────
   Hamburger menu
   ───────────────────────────────────────────────────────────────────────────── */

.menu-button {
  position:absolute;
  right: 1.5em;
  top: 3em;

  font-size: 1.75rem;
  background: none;
  border: none;
  cursor: pointer;
  transform: translate(-5px, -30px);
  background-color: lightblue;
  height: max-content;
  width: max-content;
  margin-top: 0;
  border-radius: 3px;
  border: 1px solid black;

  align-items: center;
  text-align: start;
}

.menu-button:hover {
  background-color: rgb(198, 224, 233);
}

.menu-button>div {
  transform: translateY(-5px);
  margin-top: .3rem;
  margin-bottom: -.3rem;
}

.menu-content {
  display: none;
  margin: auto;

  position: absolute;
  top: 6.5rem;
  right: .5rem;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 500;

  width: min-content;
  grid-template-rows: max-content max-content max-content;
  gap: 1em;
  padding: .5rem;
  /* keep this lower than modal's z-index */
}

.menu-content a {
  display: block;
  padding: 0.5rem 1rem;
  color: #111827;
  text-decoration: none;
  font-size: 1.05rem;
}

.menu-content a:hover {
  background: #f0f0f0;
}