$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

.simulation-controls {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    gap: 0px 20px;
    width: 100vw;
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 0.5rem auto;
    justify-content: center;
    align-content: center;
    .btn {
        height: max-content;
        width: 12ch;
    }
}

.input-area {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    margin: 10px auto;
    gap: 10px;
    width: max-content;
    justify-items: center;
    align-items: center;
    
    .input-label {
        grid-row: 1 / 3;
    }

    .checkbox-area {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        justify-items: end;
        gap: 10px 20px;
        background-color: rgb(250, 250, 250);
        padding: 10px 20px;
        border: 1px solid grey;
        border-radius: 8px;
        .checkbox-container {
            display: grid;
            grid-template-columns: max-content max-content;
            align-items: center;
            gap: 0px 8px;
            div {
                transform: translateY(-2px);
            }
        }
    }

    .color-select-container {
        display: grid;
        grid-template-columns: max-content max-content;
        padding-left: 30px;
        #display-color {
            display: grid;
            align-content: center;
            width: 70px;
            height: 35px;
            background-color: lightblue;
            text-align: center;
            border: 1px solid grey;
            border-radius: 5px 0px 0px 5px;
            cursor: pointer;
        }
        #display-black-white {
            display: grid;
            align-content: center;
            width: 140px;
            height: 35px;
            background-color: rgb(240, 240, 240);
            text-align: center;
            border: 1px solid grey;
            border-radius: 0px 5px 5px 0px;
            cursor: pointer;
        }
        #display-color:hover, #display-black-white:hover {
            opacity: 0.7;
        }
    }
}

#checkbox-label-quality {
    color: rgb(0, 0, 150);
}

#checkbox-label-temperature {
    color: rgb(255, 0, 0);
}

#checkbox-label-density {
    color: rgb(155, 155, 0);
}

#checkbox-label-entropy {
    color: rgb(255, 0, 155);
}

#checkbox-label-gridlines {
    color: rgb(0, 0, 0);
}

#checkbox-label-critical {
    color: rgb(100, 0, 255);
}

#p5-container {
    width: max-content;
    margin: auto;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;
    .details-text {
        margin-left: 20px;
    }
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}