/*
 * File: MISstyle.css
 * Purpose: To provide the styling and page formatting for the Melting Ice simulation (melting-ice.html)
 * Author: Emily Ehrenberger (July 2011)
 *		   Under the supervision of Margot Vigeant, Bucknell University
 *		   Based on Flash simulation by Matt Koppenhaver under Professor Michael Prince
 * (c) Margot Vigeant 2011
*/

:root {
	font-size: 12px;
	font-family: sans-serif;
}

.wrapper {
	width: 800px;

	min-height: 800px;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	background-color: none;
	color: none;
	overflow:visible;
}

.box {
	height: 200px;
	background-color: rgb(100, 99, 99, 0);
	border-radius: 5px;
	padding: 0px;
	font-size: 150%;
}

.b {
	position: relative;
	display: grid;
	justify-items: center;
	align-items: start;
	align-content: start;
	grid-gap: 0%;
	grid-template-areas: "det init init dir"
						"wt1 wt1  wt2  wt2";
	grid-template-rows: 1fr 1fr 4fr;
  height: 100%;
}

#infoButton {
	justify-self: end;
	grid-area: det;
}

#initConds {
	grid-area: init;
	font-size: 1rem;
	white-space: nowrap;
	text-align: center;
	line-height: 1.3rem;
	background-color: rgb(231, 235, 226);
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
}

.buttonMed {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:sans-serif;
	font-size:1.25rem;
	padding:0.25rem 0.75rem;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buttonMed:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	font-family:sans-serif;
	text-decoration:none;
	font-weight:bold;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.buttonMed:active {
	position:relative;
	font-family:sans-serif;
	font-weight:bold;
	text-decoration:none;
}

.temps {
	font-size: 1rem;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 1px #888888;
	line-height: 1.3rem;
}

#infoButton {
	justify-self: end;
	grid-area: dir;
}

#temps1 {
	grid-area:wt1;
	background-color: rgb(255, 203, 203);
}

#temps2 {
	grid-area:wt2;
	background-color: rgb(202, 220, 255);
}

#bk1Text {
	position: absolute;
	bottom: 6%;
	left: 12%;
}

#bk2Text {
	position: absolute;
	bottom: 6%;
	right: 12%;
}

.d {
	height: 300px;
	grid-row: 3;
	grid-column: 1 / span 3;
	position: relative;
}

.b1 {
	position: absolute;
	right: 20px;
	bottom: 100px;
}

.b2 {
	position: absolute;
	right: 25px;
	bottom: 250px;
}

#resetButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:1.5rem;
	padding:0.5rem 0.75rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
#resetButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	font-family:sans-serif;
	background-color:#bc3315;
}
#resetButton:active {
	position:relative;
	font-family:sans-serif;
	top:1px;
}

#startButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-o-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #89c403 5%, #77a809 100%);
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809',GradientType=0);
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-size:1.5rem;
	padding:0.5rem 0.75rem;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
	position: absolute;
	right: 100px;
	top: ;
}
#startButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403));
	background:-moz-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-o-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #89c403 100%);
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403',GradientType=0);
	background-color:#77a809;
	font-family:sans-serif;
}
#startButton:active {
	position:relative;
	top:1px;
	font-family:sans-serif;
}

#aboutButton {
	text-decoration:none;
	position: absolute;
	right: 60px;
	bottom: 0px;
}

#aboutButton:active {
	position:absolute;
	bottom: 0px;
}

/* .btn-md {
	margin: auto;
	padding: 0;
	display: inline-block;
	line-height: 30px;
	text-align: center;
} */

#beakersImg {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 47%;
	overflow: hidden;
}

#buttons1 {
	position: absolute;
	display: inline-block;
	justify-self: left;
	margin-top: 0rem;
	margin-left: 15%;
}

#buttons2 {
	position: absolute;
	justify-self: left;
	margin-top: 30px;
	margin-left: 17%;
}

.graphChoose {
	position: absolute;
	justify-self: right;
	top: 35px;
	right: 0px;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0px;
}

#graphInfo {
	position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 0;
    display: inline-block;
    line-height: 30px;
	text-align: center;
	right: 0px;
	bottom: 0px;
}

#waterImg {
	display: inline-block;
	position: absolute;
	left: 2.5%;
	bottom: 1.7%;
	max-width: 95%;
	height: 36.5%;
	overflow: hidden;
	opacity: 0.5;
	z-index: 2;
}

.sit1block {
	position: absolute;
	bottom: 55%;
	left: 0px;
	height: 42px;
	width: 42px;
	background: url('media/blocks.png') -2px -2px;
	z-index: 0;
	box-shadow: 1px 1px #888888;
}

.sit2block {
	position: absolute;
	bottom: 55%;
	right: 0px;
	height: 42px;
	width: 42px;
	background: url('media/blocks.png') -2px -2px;
	z-index: 0;
	box-shadow: 1px 1px #888888;
}

.sit1Ice {
	position: absolute;
	height: 14.3%;
	width: 10.0%;
	z-index: 1;
	opacity: 0.8;
	bottom: 37%;
}

.sit2Ice {
	position: absolute;
	height: 14.3%;
	width: 10.0%;
	z-index: 1;
	opacity: 0.8;
	bottom: 37%;
}

/*****Classes for graph elements*****/


.myTooltip {
	position: absolute;
	background-color: #FFC;
	border-style: solid;
	border-width: thin;
	border-color: #000;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding-left: 1px;
	font-family: sans-serif;
	font-size: 0.85rem;
	z-index: 3;
	/* Ensure the tooltip appears on top of all the images (except for tooltipTrigger images) */
	/* Prevent browsers from automatically putting scrollbars everywhere */
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
	line-height: normal;
}

#stirBar1 {
	position: absolute;
	bottom: 5%;
	left: 20%;
	z-index: 0;
	width: 10%;
}

#stirBar2 {
	position: absolute;
	bottom: 5%;
	right: 20%;
	z-index: 0;
	width: 10%;
}

#sit1block1 {
	left: 5%;
}

#sit1block2 {
	left: 14%;
}

#sit1block3 {
	left: 23%;
}

#sit1block4 {
	left: 32%;
}

#sit2block1 {
	right: 5%;
}

#sit2block2 {
	right: 14%;
}

#sit2block3 {
	right: 23%;
}

#sit2block4 {
	right: 32%;
}

#sit1Ice1 {
	left: 12%;
	transform: translate(-50%, 50%) rotate(15deg);
}

#sit1Ice2 {
	left: 25%;
	transform: translate(-50%, 50%) rotate(-15deg);
}

#sit1Ice3 {
	left: 37%;
	transform: translate(-50%, 50%) rotate(5deg);
}

#sit2Ice1 {
	right: 11%;
	transform: translate(50%, 50%) rotate(-12deg);
}

#sit2Ice2 {
	right: 23%;
	transform: translate(50%, 50%) rotate(10deg);
}

#sit2Ice3 {
	right: 36%;
	transform: translate(50%, 50%) rotate(3deg);
}


/***** graph elements/labels *****/


/* text bubbles of "more info" */
#graphHeightInfo {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 30rem;
	height: 7rem;
	padding-left: 9px;
	padding-top: 7px;
}

#graphSlopeInfo {
	position: absolute;
	top: 50%;
	left: 10%;
	width: 30rem;
	height: 12rem;
	padding-left: 11px;
	padding-top: 7px;
}

input[type="radio"] {
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
  }


#modalDirections {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	padding-top: 8rem; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

#modalDetails {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	padding-top: 2rem; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modalAbout {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	padding-top: 2rem; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
#directions-content {
	background-color: #fefefe;
	margin: auto;
	padding: 1.5rem;
	padding-top: 3rem;
	border: 1px solid #888;
	width: 80%;
}
  
#details-content {
	background-color: #fefefe;
	margin: auto;
	padding: 1.5rem;
	padding-top: 3rem;
	border: 1px solid #888;
	width: 80%;
}

#about-content {
	background-color: #fefefe;
	margin: auto;
	padding: 1.5rem;
	padding-top: 3rem;
	border: 1px solid #888;
	width: 80%;
}

/* The Close Button */
.close {
	color: #1b1b1b;
	float: right;
	font-size: 2rem;
	font-weight: bold;
	transform: translateY(-2.5rem);
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
