:root {
	font-family: Arial, sans-serif;
}

#screencasts-list {
	width: 100%;
}

.screencasts-topic-header {
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

.screencasts-accordion {
	margin-left: 0.5rem;
	margin-bottom: 1rem;
}

.screencasts-dropdown {
	margin-bottom: 1px;
	min-height: 24px;
	font-size: 0.8rem;
}

.screencasts-dropdown-title {
	padding: 0.15rem;
	padding-left: 1rem;
	text-transform: capitalize;
  background-color: rgba(135, 206, 250, 0.676);
  color: black;
	border: 1px solid grey;
	border-radius: 2px;
	transition-property: background-color;
	transition-duration: 0.5s;
}

.screencasts-dropdown-title:hover {
	background-color: Linen;
}

.screencasts-dropdown-list-wrapper {
	display: block;
	height: 0px;
	overflow: hidden;
	transition-property: height;
	transition-timing-function: ease-in-out;
	transition-duration: 0.5s;
	padding-top: 0rem;
	margin-bottom: 0.25;
}

.screencasts-dropdown-list-wrapper ul {
	height: max-content;
	line-height: 1.2rem;
}

.screencasts-dropdown-list-wrapper li>* {
	display: inline;
	margin-right: 0.75rem;
}

.screencasts-dropdown-list-wrapper li>div.dl-link {
	color: rgb(100, 90, 185);
	cursor: pointer;
}

.screencasts-dropdown-list-wrapper li>div.in-progress {
	display: none;
}

.screencasts-dropdown-list-wrapper li>div.dl-link:hover {
	text-decoration: underline;
}

.up-down-arrow {
	float: right;
	font-size: 1.25rem;
	font-weight: 100;
	text-shadow: 0px 0px 1px white;
	color: darkslategrey;
	height: 0.8rem;
	margin: 0;
	margin-right: 1rem;
	margin-top: 0.15rem;
	padding-bottom: 0.25rem;
	transform: rotate(180deg);
	transition-property: transform;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	pointer-events: none;
}