<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simulation Template</title>

  <!-- The flot library requires jquery version 1 (I know, it's very old) -->
  <script src="jquery.js"></script>
  
  <!-- Flot library for plotting stuff http://www.flotcharts.org/ -->
  <script src="jquery.flot.js"></script>
  
  <!-- Included bootstrap css to make my button look nice -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Main style sheet -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  
  <div id="start-button" class="btn btn-primary">Start</div>

  <div id="canvas">
    <img src="ball.png" id="ball" />
  </div>
  
  <!-- This div gets filled with content automatically by the Flot library. See initializePlot.js for more info. -->
  <div id="plot"></div>
  
  <script src="initializePlot.js"></script>
  <script src="main.js"></script>

</body>
</html>