<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simulation Template</title>

  <!-- The flot library requires jquery version 1 (I know, it's very old) -->
  <script src="jquery.js"></script>
  
  <!-- Flot library for plotting stuff http://www.flotcharts.org/ -->
  <script src="jquery.flot.js"></script>
  
  <!-- Included bootstrap css to make my button look nice -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  <!-- Main style sheet -->
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class = "row" style="height: 60px"></div>


  <div class = "row">

    <div class = "col-200px" >
       <div id="canvas">
            <img src="ball.png" id="ball" />
        </div>
    </div>  

    <div class = "col-600px">
      <div id="plot"></div>
    </div>

    <div class = "col-3">
      <div class="form-group row">

				<label class="col-6 col-form-label" for="Drag Coefficient">Drag Coefficient</label>
				<div class="col-sm-3">
					<input type="text" class="form-control" id="dragCoeff"  value="0.5">
        </div>
      </div>

      <div class="form-group row">  
        <label class="col-6 col-form-label" for="Mass">Mass</label>
				<div class="col-sm-3">
					<input type="text" class="form-control"  id="mass"  value="0.75">
        </div>
      </div>
      

      <div class="form-group row">
        <label class="col-6 col-form-label" for="A ">Cross-Sectional Area </label>
				<div class="col-sm-3">
					<input type="text" class="form-control"  id="area"  value="0.147">
        </div>
      </div>
      
      <div id="start-button" class="btn btn-primary">Start</div>

    </div>
            
    <div class = "col-2">
        <table>
          <tr>
            <th>Gravity: </th>
            <td id="GForce"></td>
          </tr>
          <tr>
            <th>Velocity: </th>
            <td id="HVelocity"></td>
          </tr>
          <tr>
            <th>Height: </th>
            <td id="HHeight"></td>
          </tr>
          <tr>
            <th>Acceleration: </th>
            <td id="HAcceleration"></td>
          </tr>
        </table>
    </div>
         

          <!-- This div gets filled with content automatically by the Flot library. See initializePlot.js for more info. -->
          

          <script src="initializePlot.js"></script>
          <script src="main.js"></script>
          <script src="calculation.js"></script>
      
  </div>

</body>
</html>