$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

.simulation-controls {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 0px 80px;
    width: 100vw;
    margin: 5px;
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 0.5rem auto;
    justify-content: center;
    align-content: center;

    .btn {
        height: max-content;
        width: 12ch;
    }
}

.input-area {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 20px;

    div {
        display: grid;
        width: 14ch;
        border: 1px solid grey;
        border-radius: 0.375rem;
        height: 37px;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:hover {
            opacity: 0.7;
        }

        &.mousedown {
            opacity: 0.5;
        }
    }

    #new-problem-button {
        background-color: rgb(255, 0, 0);
        color: white;
    }

    #next-step-solution-button {
        background-color: lightgoldenrodyellow;
        &.blue {
            background-color: aliceblue;
        }
    }
}

#p5-container {
    width: max-content;
    margin: auto;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;

    .details-text {
        margin-left: 20px;
    }
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}