body {
  font-family: Arial, sans-serif;
}

.frac {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  letter-spacing: 0.001em;
  text-align: center;
}

.frac>span {
  display: block;
  padding: 0.1em;
}

.frac span.bottom {
  border-top: thin solid black;
}

.frac span.symbol {
  display: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  margin-bottom: 0.5rem;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.btn {
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.d-flex {
  height: 100%;
  /* Ensures that the .d-flex element takes up the full height of its parent */
}

.chart {
  position: relative;
  /* Makes sure the canvas stretches to the size of its container */
}

canvas {
  display: block;
  /* Removes any extra space added by the canvas */
  width: 100%;
  height: 100%;
}

.mjx-math {
  font-family: Arial, sans-serif !important;
}

.mjx-mtext,
.mjx-mi,
.mjx-mo,
.mjx-mn,
.mjx-ms {
  font-family: Arial, sans-serif !important;
  font-style: normal !important;
}