$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

.simulation-controls {
    display: grid;
    grid-template-columns: max-content;
    justify-content: center;
    gap: 0px 20px;
    width: 100vw;
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 1.0rem auto 0rem auto;
    justify-content: center;
    align-content: center;

    .btn {
        height: max-content;
        width: 12ch;
    }
}

#p5-container {
    width: max-content;
    margin: auto;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

#loading {
    margin-left: 15px;
    font-size: 1.5rem;
    width: 100vw;
    text-align: center;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;

    .references {
        font-size: 0.85rem;
        .list-link {
            padding-left: 25px;
            margin-bottom: 10px;
        }
    }

    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &>li {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
        }
    }
}

.simulation-title {
    width: 100vw;
    text-align: center;
    padding: 8px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    background-color: rgb(240, 240, 240);
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}

#plot-point-container {
    position: absolute;
    left: 0px;
    top: 0px;

    * {
        pointer-events: none;
    }

    #plot-point {
        pointer-events: all !important;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 350px;
        top: 265px;
        background-color: rgb(20, 20, 20);
        width: 11px;
        height: 11px;
        border-radius: 5.5px;
        border: 1px solid black;
        box-shadow: 0px 0px 2px 1px white;
    }

    #plot-point:hover {
        box-shadow: 0px 0px 1px 1px rgb(176, 176, 176);
    }

    .plot-point-static {
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 4px;
        background-color: black;
        transform: translate(-50%, -50%);
    }
}


.select-row {
    padding: 14px;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 20px;

    .select-container {
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;

        #select-view {
            font-size: 1.1rem;
            padding: 5px 15px;
        }
    }

    .grid-lines-container {
        display: grid;
        grid-template-columns: max-content max-content;
        width: 148px;
        position: relative;
        padding-right: 35px;
        margin: 8px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .grid-lines-label {
            font-size: 1.1rem;
        }

        input[type="checkbox"] {
            position: absolute;
            top: 0px;
            right: 0px;
            opacity: 0;
            cursor: pointer;
            height: 22px;
            width: 22px;
            transform: translateY(4px);
            z-index: 1;
        }

        .checkmark {
            position: absolute;
            top: 0px;
            right: 0px;
            height: 22px;
            width: 22px;
            background-color: #eee;
            border: 1px solid black;
            transform: translateY(4px);
            z-index: 0;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        & .checkmark:after {
            left: 6px;
            top: 3px;
            width: 8px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        & input:checked~.checkmark:after {
            display: block;
        }

        &:hover input~.checkmark {
            background-color: #ccc;
        }

        & input:checked~.checkmark {
            background-color: #2196F3;
        }
    }
}

.references-label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}