$modal-sm: calc( 100vw - 50px);
$modal-md: calc( 100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";
.simulation-controls {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 0px 20px;
    width: 100vw;
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 1.0rem auto;
    justify-content: center;
    align-content: center;
    .btn {
        height: max-content;
        width: 12ch;
    }
}

#p5-container {
    width: max-content;
    margin: auto;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

#loading {
    margin-left: 15px;
    font-size: 1.5rem;
    width: 100vw;
    text-align: center;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;
    .references {
        font-size: 0.8rem;
    }
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &>li {
            margin-bottom: 0.5rem;
            font-size: 0.8rem;
        }
    }
}

.simulation-title {
    width: 100vw;
    text-align: center;
    padding: 8px;
    padding-bottom: 10px;
    font-size: 1.25rem;
    background-color: rgb(240, 240, 240);
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}

#plot-point-container {
    position: absolute;
    left: 0px;
    top: 0px;
    * {
        pointer-events: none;
    }
    #plot-point {
        pointer-events: all !important;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 350px;
        top: 265px;
        background-color: darkslategray;
        width: 8px;
        height: 8px;
        border-radius: 5.5px;
        border: 1px solid black;
        box-shadow: 0px 0px 2px 1px black;
    }
    .plot-point-static {
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 4px;
        background-color: black;
        transform: translate(-50%, -50%);
    }
}
