$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";
#graphics-container {
  position: relative;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  width: min-content;
}

#p5-container {
  width: calc(100vw - 40px);
  max-width: calc(calc(100vh - 40px) * 3 / 2);
  height: calc(calc(100vw - 40px) * 2 / 3);
  max-height: calc(100vh - 40px);
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px lightgrey;
}

.modal.show {
  padding-left: 0px !important;
}

.modal-body {
  text-align: left;
  font-size: 0.9rem;
  .details-text {
    margin-left: 20px;
  }
}

.details-eqn {
  margin-left: 40px;
}

#hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: max-content;
  height: max-content;
}

#hamburger-icon {
  display: grid;
  align-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  cursor: pointer;
  background-color: lightblue;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#hamburger-icon.active {
  background-color: rgb(233, 164, 164);
}

#hamburger-icon:hover,
#hamburger-icon.active:hover {
  background-color: rgb(217, 239, 246);
}

#hamburger-icon>svg {
  width: 30px;
  height: 30px;
}

#buttons {
  position: absolute;
  top: 30px;
  display: none;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  &>.btn {
    width: 110px;
  }
}

#temp-units,
#reset {
  position: absolute;
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
  font-family: sans-serif, Arial;
  width: 65px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#temp-units {
  background-color: rgb(67, 20, 255);
  right: 2%;
  bottom: 2%;
}

#temp-units:hover {
  background-color: rgb(103, 66, 255);
}

#temp-units.clicked {
  background-color: rgb(165, 153, 219);
}

#reset {
  background-color: rgb(255, 0, 0);
  right: 2%;
  bottom: calc(2% + 35px);
}

#reset:hover {
  background-color: rgb(255, 51, 51);
}

#reset.clicked {
  background-color: rgb(255, 102, 102);
}

@media screen and (max-width: 768px) {
  #hamburger-icon {
    padding: 3px;
    height: 28px;
  }
  #hamburger-icon>svg {
    width: 20px;
    height: 20px;
  }
  #buttons {
    top: 20px;
    padding: 10px;
    &>.btn {
      width: 80px;
      font-size: 0.7rem;
    }
  }
  #temp-units,
  #reset {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1080px) {
  #temp-units,
  #reset {
    font-size: 1.1rem;
    width: 90px;
  }
  #reset {
    bottom: calc(2% + 45px);
  }
}

@media screen and (min-width: 1320px) {
  #hamburger-icon {
    padding: 6px;
  }
  #hamburger-icon>svg {
    width: 32px;
    height: 32px;
  }
  #buttons {
    top: 35px;
    padding: 15px;
  }
  #temp-units,
  #reset {
    font-size: 1.2rem;
    width: 100px;
  }
  #reset {
    bottom: calc(2% + 50px);
  }
}