@import "bootstrap";
@import "./slider.scss";
@import "./select.scss";

svg * {
  vector-effect: non-scaling-stroke;
}

#app {
  width: calc( 100vw - 20px );
  display: grid;
  grid-template-columns: 1fr max-content;
  gap: 10px;
  align-items: start;
  justify-content: center;
  margin-top: 10px;

  #svg-container {
    height: max-content;
    min-width: 430px;
    svg {
      max-height: calc( min( 800px, 100vh ) );
    }
    #loading {
      margin-left: 15px;
      font-size: 1.5rem;
    }
  }

  #right-side-container {
    position: absolute;
    top: 0px;
    left: 0px;
    // background-color: rgb(252, 252, 252);
    // border: 1px solid grey;
    // box-shadow: 0px 0px 1px grey;
  }

  .input-area {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    gap: 35px;
    grid-template-columns: max-content;
    align-items: center;
    align-content: center;
  
    .input-button {
      display: grid;
      grid-template-columns: max-content max-content max-content;
      justify-items: center;
      gap: 10px;
      margin-left: 0px;
  
      .btn-primary, .btn-success {
        min-width: 12ch;
        box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
      }
  
      .btn-secondary {
        min-width: 5ch;
        background-color: lightblue;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  
        img {
          height: 3ch;
        }
      }
    }

    .input-row {
      display: grid;
      grid-template-columns: max-content 6rem 4ch max-content;
      gap: 1ch;
      align-items: end;
      font-size: 0.75rem;
      margin-top: 10px;
      background-color: rgb(250, 250, 250);
      padding: 7px;
      box-shadow: 0px 0px 2px black;
      border-radius: 3px;
    
      .data-name {
        justify-self: end;
      }
  
      .data-value {
        justify-self: end;
      }
  
      .data-metric {
        justify-self: start;
      }
  
    }

    .other-options {
      display: grid;
      grid-template-columns: max-content max-content;
      justify-content: start;
      margin-top: 10px;
      margin-left: 0px;
      gap: 15px;
    
      button {
        justify-self: start;
        width: 10ch;
        white-space: nowrap;
        padding: 0.3rem;
        margin-left: 10px;
      }
    }
  }

}

#right-side-graphics-selector {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: center;
  gap: 10px;
  select {
    font-size: 0.75rem;
    line-height: 1.3em;
  }
}

.axes-labels {
  pointer-events:none;
}

.axis-label {
  font-size: 16px;
}

.stair-label {
  font-size: 17px;
}

.tick-label {
  font-size: 15px;
}

.tooltip-element.visible {
  pointer-events: painted;
}

.tooltip-element {
  pointer-events: none;
}

#tooltip-div {
  pointer-events: none;
  font-size: 12px;
  max-width: 40ch;
  background-color:cornsilk;
  padding: 4px;
  border: 1px solid black;
}

@media screen and (max-width: 1080px) {
  .axis-label {
    font-size: 14px;
  }
  .stair-label {
    font-size: 14px;
  }
  .tick-label {
    font-size: 13px;
  }
  #right-side-graphics-selector {
    font-size: 14px;
  }
  #flasks-here {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .axis-label {
    font-size: 12px;
  }
  .stair-label {
    font-size: 12px;
  }
  .tick-label {
    font-size: 12px;
  }
  #right-side-graphics-selector {
    font-size: 12px;
  }
  #flasks-here {
    font-size: 13px;
  }
}

text {
  pointer-events: none;
}

input[type="range"]:disabled {
  opacity: 0.1;
  pointer-events: none;
}

#flasks-here {
  margin: 1rem;
  transform: translateX(5px);
}

.flask-div {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  justify-items: center;
  transform: translateX(-50%);
}

.flask-label {
  white-space: nowrap;
  outline: 0.5px solid white;
  background-color: white;
  font-size: 0.65rem;
  line-height: 1.2em;
  text-align: center;
  width: max-content;
  padding-top: 2px;
  pointer-events: none;
  z-index: 0;
  transform: translateY(-2px);
}

.flask-svg {
  z-index: 1;
}

.flask-liquid {
  fill: #d2d2ff;
}

.flask-line {
  fill: none;
  stroke: black;
  stroke-width: 0.25px;
}

.flask-top-ellipse {
  fill: grey;
}

.flask-liquid-ellipse {
  stroke: black;
  stroke-width: 0.25px;
}

#still-composition, #distillate-composition {
  font-size: 9.5px;
  display: grid;
  align-items: center;
  justify-content: center;
  div {
    white-space: nowrap;
  }
}

@media screen and (min-width: 880px) {
  .flask-label {
    font-size: 0.75rem;
  }
  .input-row, #right-side-graphics-selector>div {
    font-size: 0.9rem !important;
  }
  select {
    font-size: 0.8rem !important;
    line-height: 1.1rem;
  }
  .input-row {
    grid-template-columns: max-content 8rem 4ch max-content !important;
  }
  .btn {
    font-size: 1rem !important;
  }
  #still-composition, #distillate-composition {
    font-size: 10.5px;
  }
}

@media screen and (min-width: 940px) {
  #still-composition, #distillate-composition {
    font-size: 11.5px;
  }
}

@media screen and (min-width: 1024px) {
  .flask-label {
    font-size: 0.85rem;
  }
  .input-row, #right-side-graphics-selector>div {
    font-size: 0.95rem !important;
  }
  select {
    font-size: 0.9rem !important;
    line-height: 1.3rem;
  }
  .input-row {
    grid-template-columns: max-content 10rem 4ch max-content !important;
  }
  #still-composition, #distillate-composition {
    font-size: 12.5px;
  }
}

@media screen and (min-width: 1140px) {
  #still-composition, #distillate-composition {
    font-size: 13.5px;
  }
}

@media screen and (min-width: 1280px) {
  #still-composition, #distillate-composition {
    font-size: 15.5px;
  }
}

@media screen and (min-width: 1500px) {
  .input-row, #right-side-graphics-selector>div {
    font-size: 1.1rem !important;
  }
  select {
    font-size: 0.95rem !important;
    line-height: 1.5rem;
  }
  .input-row {
    grid-template-columns: max-content 15rem 4ch max-content !important;
  }
  #app {
    grid-template-columns: 0.75fr max-content;
  }
  #still-composition, #distillate-composition {
    font-size: 17px;
  }
}

.modal.show {
  padding-left: 0px !important;
}

.modal-body {
  text-align: left;
  font-size: 0.9rem;
  mjx-container {
    transform: translateX(20px);
  }

  .references {
    font-size: 0.8rem;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
