/* General styles */

body {
  font-family: "Balsamiq Sans", "Open Sans", sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}


/* Header */

header {
  background-color: #232323;
  padding: 20px;
}

header>p {
  max-width: 800px;
  margin: auto;
  margin-top: 10px;
}

header a {
  color: #aaaaff;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  margin: 0;
  font-size: 2rem;
}


/* Grid container */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 20px;
  padding-top: 30px;
  max-width: 1200px;
  margin: auto;
}


/* Simulation cards */

.card {
  background-color: #2a2a2a;
  box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.15s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}


/* Image styles */

.card .img-container {
  width: 100%;
  height: 180px;
  background-color: white;
}

.img-container img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-bottom: 2px solid #444;
}


/* Title styles */

.card h2 {
  font-size: 1.2rem;
  margin: 10px;
  color: #fff;
}


/* Link styles */

.card a {
  text-decoration: none;
  color: inherit;
  display: block;
}