:root {
  font-size: 9px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
}

#home {
  margin: 1rem;
  padding: 0.5rem 1rem 3rem 1rem;
  width: 100%;
  max-width: 90ch;
  background: lightgrey;
  box-shadow: 0px 0px 10px teal;
}

h1 {
  font-size: 3.0rem;
  margin-bottom: 2rem;
  font-family: 'Balsamiq Sans', cursive;
  font-weight: 400;
}

a, #lce {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration-color: rgba(255, 255, 255, 0);
}

a:hover, #lce:hover {
  transition: text-decoration-color 0.5s;
  text-decoration-color: rgba(255, 255, 255, 1);
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 2rem;
  margin-left: 2rem;
  list-style-type: none;
}

li {
  background-image: url("bullet.svg");
  background-size: 0.7rem;
  background-repeat: no-repeat;
  background-position: 0rem 1.1rem;
  padding-left: 1.5rem;
}

li + li{
  margin-top : 0.15rem;
}

#lce {
  display: inline;
  color: rgb(0, 0, 255);
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0);
}

#lce:hover {
  cursor: pointer;
}