$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 820px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

#graphics-container {
  display: grid;
  position: relative;
  margin: auto;
  margin-top: 5px;
  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  width: min-content;
  padding: .5em;
}

mjx-container,
mjx-container * {
  font-family: Arial, sans-serif !important;
}

mjx-container {
  font-family: 'Arial', sans-serif !important;
  line-height: 1.2 !important;
}

@media (max-width: 768px) {
  mjx-container {
    font-size: 1.6vw !important;
  }
}


html,
body {
  font-family: Arial, sans-serif;
}

#p5-outer {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  aspect-ratio: 3/2;
  font-size: 1rem;
}

#p5-container {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  position: relative;
}

#mathsection mjx-container {
  font-family: Arial, sans-serif !important;
}


canvas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px lightgrey;
  border-radius: 4px;
}

.modal.show {
  padding-left: 0px !important;
}

.modal-body {
  text-align: left;
  font-size: 0.9rem;
}

#formula-container {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.1em;
  max-width: 90vw;
  color: black;
  text-align: right;
  font-family: Arial, sans-serif;
}

#formula1-container {
  position: absolute;
  top: 30%;
  left: 45%;
  font-size: 1em;
  max-width: 90vw;
  color: black;
  text-align: right;
}

#coldTemperature-container {
  position: absolute;
  bottom: 38%;
  left: 4%;
  font-size: 1em;
  max-width: 90vw;
  color: black;
  text-align: right;
}

#hotTemperature-container {
  position: absolute;
  bottom: 38%;
  right: 4%;
  font-size: 1em;
  max-width: 90vw;
  color: black;
  text-align: right;
}

#mf-container {
  position: absolute;
  top: 22%;
  left: 4%;
  font-size: 1em;
  max-width: 90vw;
  color: black;
  text-align: right;
}

#mc-container {
  position: absolute;
  bottom: 30%;
  left: 0.5%;
  font-size: 1em;
  max-width: 90vw;
  color: black;
  text-align: right;
}

#mh-container {
  position: absolute;
  bottom: 30%;
  right: .5%;
  font-size: .9em;
  max-width: 90vw;
  color: black;
  text-align: right;
}

#pressure-container {
  position: absolute;
  top: 18%;
  left: 22%;
  font-size: 1em;
  max-width: 90vw;
  color: black;
  text-align: right;
}

#cop-container {
  position: absolute;
  top: 3%;
  right: 5%;
  font-size: 1.2em;
  // max-width: 90vmin;
  color: black;
  text-align: right;
}

@media (max-width: 750px) {
  #controls {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {

  #formula-container,
  #formula1-container {
    font-size: 3.5vw;
    right: 2vw;
  }
}

#controls {
  display: grid;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  grid-template-columns: auto auto;
  gap: 1em;
}

#controls>.slider-group {
  display: grid;
  // grid-template-columns: auto auto auto;
  // margin: 0 1rem;
  gap: .25em;
}

.slider-group input[type="range"] {
  // width: 100%;
  // max-width: 30%;
  min-width: 50px;
  align-self: end;
}


.slider-group span {
  display: span;
  // white-space: wrap;
  font-size: 1em;
}

.slider-group {
  display: grid;
  grid-template-columns: min-content auto min-content;
  width: 100%;
  gap: 0.5em;
}

.slider-group label,
.slider-group span {
  white-space: wrap;
  font-size: 0.9rem;
}

.slider-group label {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.0em;
  margin-right: 0.5rem;
}

#hamburger {
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 1000;
  width: max-content;
  height: max-content;
}

#hamburger-icon {
  display: grid;
  align-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  cursor: pointer;
  background-color: lightblue;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#hamburger-icon.active {
  background-color: rgb(233, 164, 164);
}

#hamburger-icon:hover,
#hamburger-icon.active:hover {
  background-color: rgb(217, 239, 246);
}

#hamburger-icon>svg {
  width: 20px;
  height: 20px;
}

#buttons {
  position: absolute;
  display: grid;
  grid-template-columns: max-content;
  width: max-content;
  top: 40px;
  left: 0px;
  display: none;
  justify-items: center;
  margin-top: 20px;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;

  &>.btn {
    width: 110px;
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: grey;
}

*[disabled="true"] {
  opacity: 0.5 !important;
  pointer-events: none;
}

.details-eqn {
  width: max-content;
  margin-left: 20px;
}

@media screen and (min-width: 1080px) {}

@media screen and (min-width: 1320px) {
  #hamburger-icon {
    padding: 6px;
  }

  #hamburger-icon>svg {
    width: 32px;
    height: 32px;
  }

  #buttons {
    top: 35px;
    padding: 15px;
  }
}

input[type="range"] {
  //max-width: 200px;
  width: 100%;
  min-width: 0;
}

.details-text,
.details-eqn {
  font-size: 1rem;
  font-family: "Arial", sans-serif;
  line-height: 1.4;
}

.details-eqn mjx-container {
  font-size: 2w !important;
}