@import "bootstrap";
@import "./slider.scss";

.modal-buttons-row {
  display: grid;
  grid-template-columns: repeat(3, 12ch );
  gap: 30px;
  margin: 0.5rem 0rem 0rem 1rem;
}

.input-area {
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  gap: 10px;

  .input-row {
    display: grid;
    grid-template-columns: 100px 15rem max-content max-content;
    gap: 1ch;
    align-items: end;
  
    .data-name {
      justify-self: end;
    }

    #t-value {
      width: calc(max(3ch, max-content));
      margin-right: -8px;
    }
  }

  .input-select {
    display: grid;
    grid-template-columns: 95px max-content;
    gap: 15px;
    align-items: center;

    .select-label {
      text-align: right;
    }

    #select-reaction {
      padding: 0.25rem;
    }
  }
}

#reaction-container {
  display: grid;
  width: 600px;
  height: 45px;
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: black;
  margin-left: 10px;
  align-items: center;
  justify-items: center;
  font-size: 1.25rem;
  background-color: rgb(253, 253, 253);
}

canvas {
  margin-left: 10px;
  border-style: none solid solid solid;
  border-width: 1px;
  border-color: black;
}

#loading {
  margin-left: 15px;
  font-size: 1.5rem;
}

.modal.show {
  padding-left: 0px !important;
}

.modal-body {
  text-align: left;

  .references {
    font-size: 0.8rem;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
