@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
canvas {
  display: block;
}

#dotProductDiv {
  position: relative;
  left: 0px;
  top: 0px;

  width: 500px;
  height: 500px;
  background: #97979767;
}

#vec1, #vec2 {
  width: 125px;
}

#vec1 {
  position: absolute;
  left: 100px;
  top: 100px;
}

#vec2 {
  position: absolute;
  left: 400px;
  top: 100px;
}

#vectorLATEX {
  background: #dfdede;
  outline: solid 1px #000000;
  order: 2;
  font-size: 1rem;
  margin-top: 0.5rem;
  height: 5rem;
}