@charset "UTF-8";
/* CSS Document */

* {
  overflow-y: visible;
  overflow-x: visible;
}

html, body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 0.5rem;
  grid-template-areas: 
  "btn1 btn2 btn3"
  "ltx  ltx  ltx"
  "cnv  cnv  cnv";
}
canvas {
  display: block;
}

#canvas {
  grid-area: cnv;
}

#dotProductDiv {
  grid-area: cnv;
  position:relative;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 500px;
  background: #97979767;
}

#vec1, #vec2 {
  width: 165px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
}

#vec1 {
  position: absolute;
  left: 10%;
  top: 100px;
}

#vec2 {
  position: absolute;
  left: 50%;
  top: 100px;
}

.form-control {
  background:#ffffff;
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: ease-in;
}

.dotProdLabel {
  position: absolute;
  left: 0;
  top: 0px;
  transform: translateY(-100%);
  min-width: 165px;
  padding: 5px;
  color: #000000;
  font-size: 2rem;
  z-index: 1;
}

.form-control.highlighted {
  background:#FFFF00;
  transition-property: background;
  transition-duration: 0.6s;
  transition-timing-function: ease-in;
}

#vectorLATEX {
  grid-area: ltx;
  background: #dfdede;
  outline: solid 1px #000000;
  order: 2;
  font-size: 1rem;
  margin-top: 0.5rem;
  height: 5rem;
  max-width: 800px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 2rem; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
	margin: auto;
	padding: 1.5rem;
	padding-top: 3rem;
	border: 1px solid #888;
  width: 90%;
  height: 700px;
  overflow-y:auto;
}

.close {
	color: #1b1b1b;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
	font-size: 2rem;
	font-weight: bold;
	transform: translateY(-2.5rem);
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.buttonMed {
  text-align: center;
  width: 60%;
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:sans-serif;
	font-size:1.25rem;
	padding:0.25rem 0.75rem;
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.buttonMed:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	font-family:sans-serif;
	text-decoration:none;
	font-weight:bold;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.buttonMed:active {
	position:relative;
	font-family:sans-serif;
	font-weight:bold;
	text-decoration:none;
}

#directions-content, #details-content, #about-content {
  position: relative;
}

#directionsButton {
  grid-area:btn1;
}

#detailsButton {
  grid-area:btn2;
}

#aboutButton {
  grid-area:btn3;
}

.guiImgI {
  height: 0.65rem;
  transform: translateY(-25%) scaleX(0.8);
}

.guiImgJ {
  height: 0.75rem;
  transform: scaleX(0.8);
}
.guiImgK {
  height: 0.75rem;
  transform: translateY(-20%) scaleX(0.8);
}

.show>.MathJax_Display {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}