.App {
  text-align: center;
  position: relative;
  display: grid;
  margin: auto;
  width: 800px;
}

.sim-container {
  border: 1px solid black;
  box-shadow: 0px 0px 2px 2px grey;
  border-radius: 4px;
  padding: 5px;
  display: grid;
  grid-template-columns: auto max-content;
  background-image: linear-gradient(0deg, #add8e6b0, white),
    url("./Flatirons_Winter_Sunrise-scaled.jpg");
  background-position: top;
}

.graphics-wrapper {
  border: 1px solid black;
  box-shadow: 0px 0px 2px 2px grey;
  height: 482px;
}

#mat-stir-container {
  display: grid;
  grid-template-columns: max-content 115px;
  justify-content: space-around;
  padding: 0.75em;

  button {
    /* height: min-content; */
  }
}

/* ----- Inputs ----- */

/* Sliders */
.slider-container {
  padding: 0.75em;
  display: grid;
  grid-template-columns: max-content auto 25px;
  gap: 10px;
  align-content: center;
}

/* Input Lists */
.labelled-list-container {
  /* padding: 0.75em; */
  display: grid;
  grid-template-columns: max-content 50px;
  gap: 10px;
}

.dropdown {
  background-color: #ffffffb0;
  border: none;
  border-radius: 4px;
  transition: 100ms;

  option {
    border: none;
    border-radius: 3px;
  }
}
.dropdown:hover {
  box-shadow: 0px 0px 2px 2px gray;
}

/* ----- From slider.css  ----- */
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  align-self: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: hsl(226, 78%, 47%);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: hsl(226, 78%, 47%);
  cursor: pointer;
}
/* ----------------------------- */
