#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  position: relative;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

p {
  /* margin-top: 0; */
  margin-bottom: 0;
  line-height: 1.8;
}

@font-face {
  font-family: "digital";
  src: url("./media/digital-7.ttf") format("truetype");
}

.canvas-container {
  position: relative;
}

.stages-menu {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}