.waterfall {
    transition: 500ms linear;
}

.tare-btn {
    cursor: pointer;
}
.tare-btn:hover {
    filter: drop-shadow(0 2px 2px rgb(255, 214, 12));
}

.digital-label {
  font-family: "digital" !important;
  font-weight: 100;
  font-size: 11;

  position: absolute;
  text-anchor: end;
  text-justify: middle;
  dominant-baseline: middle;
}

.display {
  font-family: "digital" !important;
  font-weight: 100;
  font-size: 11;

  position: absolute;
  text-anchor: middle;
  text-justify: middle;
  dominant-baseline: middle;
}