.root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  padding: 0.5em;
}

input {
  cursor: pointer;
}

.graphics-wrapper {
  position: relative;
  width: max-content;
  margin: auto;
  padding: 0.5em;
}

canvas {
  border: 1px solid black;
  box-shadow: 0px 0px 1px 1px grey;
}

.nav-bar {
  display: grid;
  margin: auto;
  grid-template-columns: 200px 400px 200px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 800px;
}

.nav-bar-column {
  display: grid;
  margin: auto;
  width: fit-content;
  justify-items: left;
}

.nav-bar-center {
  display: grid;
  grid-template-columns: 150px 200px;
  gap: 10px;
  padding: 2px;
}

#modal-buttons-container {
  display: grid;
  margin: auto;
  padding: 5px;
  gap: 10px;
  grid-template-columns: 100px 100px 100px;
  width: max-content;
}

.close {
  background-color: white;
  border: none;
}

.modal-header {
  justify-content: space-between;
}

.buttons-container {
  display: grid;
  padding: 5px;
  grid-template-columns: 100px 100px 100px;
  justify-content: center;
  align-items: center;
  gap: 0px 20px;
  width: inherit;
}

#hex-btn-container {
  grid-template-columns: 100px 100px;
  justify-self: center;
  gap: 20px;
}

.slider-wrapper {
  display: grid;
  justify-self: baseline;
  justify-content: center;
  align-items: end;
  grid-template-columns: max-content 150px 20px;
  margin-left: 1.5em;
  margin-bottom: 5px;
  gap: 10px;
}

#time-wrapper {
  display: grid;
  grid-template-columns: 300px 40px 40px;
  gap: 5px;
  align-items: center;

  #progress-bar {
    width: 300px;
  }
}

.controls-wrapper {
  display: grid;

  &.hidden {
    display: none;
  }
}

#input-name {
  width: 250px;
  left: 300px;
  top: 180px;
}

#calc-lmtd-btn {
  position: absolute;
  width: max-content;
  left: 550px;
  top: 220px;
}

.hidden,
.btn.hidden,
#time-wrapper.hidden,
.close-btns-wrapper.hidden {
  display: none;
}

.close-btns-wrapper {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  gap: 5px;
}

#pump-btns {
  grid-template-columns: 150px 200px;
  gap: 15px;

  .btn {
    position: relative;
    gap: 0px;
    /* left: -15px */
  }
}

.modal-titles-container {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  gap: 20px;
}

.vl {
  border-left: 1px solid rgb(85, 85, 85);
  height: 40px;
}

.hl {
  border-bottom: 2px solid rgb(21, 76, 255);
  width: auto;
}

.btn-light {
  background-color: white;
  border-color: white;
}

.tooltip-anchor {
  position: absolute;
  /* background-color: yellow; */
  top: 461px;
  width: 126px;
  height: 155px;
}

#hi-anchor {
  left: 644px;
}

#ho-anchor {
  left: 456px;
}

#ci-anchor {
  left: 267px;
}

#co-anchor {
  left: 83px;
}

#cold-single-anchor {
  left: 384px;
}
#hot-single-anchor {
  left: 582px;
}

#outlet-tubes-anchor {
  top: 390px;
  left: 380px;
  height: 50px;
  width: 230px;
}

#reset-modal-footer {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: end;
  justify-content: space-between;
}

/* The side navigation menu */
.sidebar {
  display: grid;
  grid-template-rows: 3em max-content max-content max-content 3em;
  gap: 10px;
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  /* background-color: #444444; Black */
  color: rgb(0, 0, 0);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 1)
    ),
    url("./Flatirons_Winter_Sunrise-scaled.jpg");

  .btn-close {
    justify-self: right;
    margin-right: 30px;
  }
  #modal-buttons-container {
    display: grid;
    grid-row-start: 1;
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
    /* margin: 0px; */
  }

  .nav-bar {
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
    /* grid-row-start: 2; */
    width: 150px;
    /* margin: 0px; */
    height: max-content;
    gap: 10px;
    /* justify-items: end; */
    padding: 5px;
    .nav-bar-center {
      grid-template-columns: none;
      /* padding: 0px; */
    }
    #menu-btn {
      display: none;
    }
  }
}

/* When you mouse over the navigation links, change their color */
.sidebar-item:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.sidebar-item {
  height: max-content;
  padding: 8px 8px 8px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  /* display: block; */
  transition: 0.3s;
}

.sidebar-item.vl {
  border-left: 3px solid rgb(35, 112, 255);
  height: fit-content;
}

@media (min-width: 768px) {
  /* .modal-l {
      width: 80%;
      max-width: 1000px;
  } */

  .modal-xl {
    width: 70%;
    max-width: 1200px;
  }
}

.sim-wrapper {
  display: grid;
  margin: auto;
  grid-template-rows: auto auto auto;
}

@media (max-height: 700px) {
  .sim-wrapper {
    width: max-content;
    grid-template-columns: 150px max-content;
    grid-template-rows: 150px 490px;
    justify-items: end;
    direction: rtl;
    row-gap: 50px;
    #modal-buttons-container {
      display: grid;
      grid-row-start: 1;
      grid-template-rows: auto auto auto;
      grid-template-columns: none;
      margin: 0px;
    }

    .nav-bar {
      grid-template-rows: auto auto auto;
      grid-template-columns: none;
      grid-row-start: 2;
      width: 150px;
      margin: 0px;
      height: max-content;
      gap: 10px;
      justify-items: end;
      padding: 5px;
      .nav-bar-center {
        grid-template-columns: none;
        padding: 0px;
      }
    }
  }

  @media (max-width: 950px) {
    .sim-wrapper {
      #modal-buttons-container,
      .nav-bar {
        visibility: hidden;
      }
      .graphics-wrapper {
        position: absolute;
        left: 0px;
        top: 0px;
      }

      #menu-btn {
        visibility: visible;
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 1;
      }
    }
  }
}
