@import '~bootstrap/scss/bootstrap.scss';

$bg: #FFFFFF;
$outerPlotMargin: 10px;

body {
  background: $bg;
}

#buttonGroup {
  width: 320px;
  margin-top: 2rem;
  margin-left: 2rem;

  .input-group-text {
    width: 15ch;
  }
}

#TPlot {
  position: absolute;
  bottom: $outerPlotMargin;
  left: $outerPlotMargin;
}

#PPlot {
  position: absolute;
  top: $outerPlotMargin;
  right: $outerPlotMargin;
}

#LPlot {
  position: absolute;
  bottom: $outerPlotMargin;
  right: $outerPlotMargin;
}