$enable-responsive-font-sizes: true;

@import '~bootstrap/scss/bootstrap.scss';

$bg: #FFFFFF;
$outerPlotMargin: 10px;

body {
  background: $bg;
}

.button-group {
  width: 12rem;
  margin-top: 2rem;
  margin-left: 2rem;

  .input-group-text {
    width: 6rem;
  }

  .form-control {
    width: 5rem;
  }

  .btn-group {
    .on {
      background-color: #45494d;
      border-color: rgb(180, 189, 20);
    }
  }
}

#TPlot {
  position: absolute;
  top: 15rem;
  left: $outerPlotMargin;
}

#PPlot {
  position: absolute;
  top: 15rem;
  left: 380px;
}

#LPlot {
  position: absolute;
  top: 15rem;
  left: 740px;
}