#controls {
  margin: 10px;
}

canvas {
  margin: 30px;
}

.sim-wrapper {
  display: grid;
  margin: auto;
  width: max-content;
}

#modal-buttons {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: center;
  gap: 10px;
}

#apparatus-wrapper {
  display: grid;
  margin: auto;
  width: 964px;
  position: relative;
}

#Valve {
  cursor: grab;
  
  :active {
    cursor: grabbing;
  }
}
