$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

.simulation-controls {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 0px 20px;
    width: 100vw;
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 0.5rem auto;
    justify-content: center;
    align-content: center;
    .btn {
        height: max-content;
        width: 12ch;
    }
}

#directions-button {
    transition: background 1s;
}

.input-area {
    display: grid;
    grid-template-columns: max-content;
    margin: 20px auto;
    gap: 10px;
    width: max-content;
    justify-items: center;
    .input-row {
        display: grid;
        grid-template-columns: 280px 15rem 27px 50px;
        gap: 1ch;
        align-items: end;
        background: rgb(250, 250, 250);
        padding: 10px;
        border: 1px solid grey;
        border-radius: 3px;
        .data-name {
            justify-self: end;
        }
        .data-value {
            text-align: end;
        }
    }
    .collection-button-container {
        display: grid;
        grid-template-columns: repeat(4, max-content);
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
        #collection-button, #proceed-to-submit-button, #download-data-button {
            display: grid;
            align-content: center;
            justify-content: center;
            height: 40px;
            border: 1px solid grey;
            border-radius: 7px;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
            cursor: pointer;
        }
        #collection-button {
            background: rgb(200, 235, 200);
            width: 120px;
            &:hover {
                background: rgb(210, 245, 210);
            }
            &.pressed {
                background: rgb(220, 255, 220);
            }
        }
        #proceed-to-submit-button {
            background: rgb(194, 52, 52);
            width: 120px;
            color: white;
            &:hover {
                background: rgb(234, 100, 100);
            }
            &.pressed {
                background: rgb(255, 130, 130);
            }
        }
        #download-data-button {
            background:rgb(24, 199, 214);
            width: 190px;
            &:hover {
                background: rgb(44, 210, 230);
            }
            &.pressed {
                background: rgb(60, 220, 240);
            }
        }
    }
}

#p5-container {
    width: max-content;
    margin: auto;
    position: relative;
    &>svg {
        position: absolute;
        left: 540px;
        top: 80px;
        width: 245px;
        height: min-content;
    }
}

#submit-inputs-container {
    position: absolute;
    left: calc(50vw - 200px);
    top: 340px;
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px 50px;
    &>input {
        box-shadow: 0px 0px 2px 2px lightgrey;
    }
}

#submit-button {
    position: absolute;
    top: 580px;
    left: calc(50vw + 40px);
    display: grid;
    align-content: center;
    justify-content: center;
    height: 40px;
    width: 130px;
    border: 1px solid grey;
    border-radius: 7px;
    background: rgb(194, 52, 52);
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
    &:hover {
        background: rgb(234, 100, 100);
    }
    &.pressed {
        background: rgb(255, 130, 130);
    }
}

#back-button {
    position: absolute;
    top: 580px;
    left: calc(50vw - 150px);
    display: grid;
    align-content: center;
    justify-content: center;
    height: 40px;
    width: 130px;
    border: 1px solid grey;
    border-radius: 7px;
    background: rgb(75, 243, 190);
    color: black;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
    &:hover {
        background: rgb(105, 255, 220);
    }
    &.pressed {
        background: rgb(125, 255, 240);
    }
}

#reset-button {
    position: absolute;
    top: 510px;
    left: calc(50vw - 65px);
    display: grid;
    align-content: center;
    justify-content: center;
    height: 40px;
    width: 130px;
    border: 1px solid grey;
    border-radius: 7px;
    background: rgb(112, 111, 195);
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    cursor: pointer;
    &:hover {
        background: rgb(168, 167, 253);
    }
    &.pressed {
        background: rgb(180, 180, 255);
    }
}

#submit-name {
    position: absolute;
    left: 160px;
    top: 117px;
    width: 270px;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;
    .details-text {
        margin-left: 20px;
    }
    .details-eqn {
        margin-left: 50px;
    }
}

.video-container {
    display: grid;
    width: 100%;
    justify-content: center;
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.about-reference-2 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 12px;
}