.root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

body {
    padding: 0.5em;
}

input {
    cursor: pointer;
}

#graphics-wrapper {
    /* position: absolute; */
    width: 100vw;
    top: 200px;
    height: max-content;
    display: grid;
    justify-content: center;
}

canvas {
    border: 1px solid black;
    box-shadow: 0px 0px 2px 2px grey;
}

.nav-bar {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100vw
}

.nav-bar-left {
    display: grid;
    width: 400px;
    justify-items: center;
}

.nav-bar-right {
    display: grid;
    width: 400px;
    justify-items: center;
}

.buttons-container {
    display: grid;
    padding: 5px;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
    align-items: center;
    gap: 0px 20px;
    width: inherit;
    margin-bottom: 0.5em;
}

.quad-container {
    display: grid;
    padding: 5px;
    grid-template-columns: 100px max-content max-content;
    grid-template-rows: max-content max-content;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
    width: inherit;
    margin-bottom: 0.5em;
}

#plot-input-wrapper {
    display: grid;
    padding: 5px;
    grid-template-columns: max-content max-content max-content;
    justify-items: center;
    gap: 0px 10px;
    align-items: center;
    width: inherit;
}

.slider-wrapper {
    display: grid;
    justify-content: center;
    align-items: end;
    grid-template-columns: max-content 150px 20px;
    gap: 10px;
}

@media (min-width: 768px) {
    .modal-l {
        width: 80%;
        max-width: 1000px;
    }

    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}