$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

.simulation-controls {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 0px 50px;
    width: 100vw;

    .input-area {
        display: grid;
        grid-template-columns: max-content;
        margin: 20px auto;
        gap: 10px;
        width: max-content;
        justify-items: center;
        .controls-container {
            width: max-content;
            display: grid;
            grid-template-columns: repeat(2, max-content);
            gap: 30px;

            .btn {
                display: grid;
                grid-template-columns: repeat(2, max-content);
                justify-content: center;
                align-items: center;
                gap: 10px;
                div {
                    transform: translateY(-2px);
                }
            }

            #start-reset {
                width: 150px;
            }
        }
    }
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 0.5rem auto;
    justify-content: center;
    align-content: center;
    .btn {
        height: max-content;
        width: 12ch;
    }
}

#p5-container {
    width: max-content;
    margin: auto;
    position: relative;

    #input-boxes-container {
        width: 100%;
        height: 530px;
        position: absolute;

        input {
            position: absolute;

            &.hidden {
                display: none;
            }

            &.answer-box {
                width: 50px;
            }
        }
    }
}

#input-name {
    width: 250px;
    left: 260px;
    top: 163px;
}

.answer-box {
    background-color: rgb(243, 243, 203);
}

#input-q1-1 {
    left: 115px;
    top: 289px;
}

#input-q1-2 {
    left: 527px;
    top: 109px;
}

#input-q2-1 {
    left: 180px;
    top: 360px;
}

#input-q2-2 {
    left: 540px;
    top: 120px;
}

#input-q3-1 {
    left: 200px;
    top: 280px;
}

#input-q3-2 {
    left: 540px;
    top: 430px;
}

#input-q3-3 {
    left: 540px;
    top: 470px;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;
    .details-text {
        margin-left: 20px;
    }
}

.directions-image-wrapper {
    display: grid;
    width: 100%;
    justify-content: center;
    padding: 10px;
    .directions-image {
        width: 400px;
    }
}

.directions-image-small {
    display: inline;
    width: 100px;
}

.details-eqn {
    margin-left: 30px;
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}