.controls-area {
  display: grid;
  grid-template-columns: max-content max-content;
  width: 100%;
  margin: auto;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inputs {
  display: grid;
  gap: 3px;
  width: max-content;
  margin: 12px;
  gap: 30px;
  align-content: center;
}

.input-area {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  align-items: center;
  justify-items: end;
  gap: 0px 5px;
  justify-content: space-evenly;
}

#display-selection {
  grid-template-columns: max-content max-content;
  gap: 5px;
  justify-content: center;
}

#sliders-area-1 {
  transform: translateX(10px);
}

#sliders-area-2 {
  transform: translateX(20px);
}

select {
  width: 100%;
}

mjx-container {
  transform: translateX(20px);
}

.modal-buttons-row {
  display: grid;
  grid-template-columns: repeat(3, 11ch);
  gap: 20px;
  width: max-content;
  margin: 0.5rem auto 0rem auto;
  height: max-content;
  transform: translateX(-20px);
}

.modal-buttons-row>* {
  height: max-content;
  align-self: center;
}

.modal-buttons-row>.input-area {
  grid-column: 1 / -1;
}

li {
  margin-bottom: 0.5rem;
}

.modal.show {
  padding-left: 0px !important;
}

.modal-body {
  font-size: 0.8rem;
}

.modal-body>p {
  font-size: 0.9rem;
}

.modal-body .modal-text {
  max-width: 70ch;
  text-align: justify;
}

.modal-body .modal-equation {
  width: max-content;
  margin-left: 15px;
  padding: 2px;
}

.modal-text+.modal-text {
  margin-top: 10px;
}

.modal-equation.no-padding {
  padding: 0px;
}

main {
  width: max-content;
  margin: auto;
}

canvas {
  outline: 1px solid black;
  box-shadow: 0px 0px 2px black;
}

.references {
  font-size: 0.8rem;
}

#p5-container {
  width: calc(100vw - 40px);
  height: calc(calc(100vw - 40px) * 720 / 1280);
  max-width: calc(calc(100vh - 160px) * 1280 / 720);
  max-height: calc(100vh - 160px);
  margin: auto;
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px lightgrey;
}

@media screen and (max-width: 800px) {
  .input-area {
    font-size: 0.8rem;
  }
  .btn {
    font-size: 0.8rem !important;
    padding: 0.2rem 0.5rem !important;
    width: 10ch;
  }
  .modal-buttons-row {
    grid-template-columns: repeat(3, 9ch);
    column-gap: 5px;
    row-gap: 25px;
  }
}

@media screen and (min-width: 900px) {
  .input-area {
    font-size: 1.2rem;
    grid-template-columns: max-content 200px max-content max-content;
    align-items: end;
    gap: 0px 15px;
  }
  input[type="range"] {
    transform: translateY(-3px);
  }
}