$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 820px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss"; // Keeping slider styling in place if needed for other inputs
#graphics-container {
  position: relative;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(250, 250, 250);
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  width: min-content;
}

#p5-container {
  position: relative;
  margin: auto;
  width: calc(100vw - 40px);
  max-width: calc(calc(100vh - 20px) * 800 / 600);
  height: calc(calc(100vw - 40px) * 600 / 800);
  max-height: calc(100vh - 20px);
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px lightgrey;
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px lightgrey;
}

.modal.show {
  padding-left: 0px !important;
}

.modal-body {
  text-align: left;
  font-size: 0.9rem;
}

#hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  width: max-content;
  height: max-content;
}

#hamburger-icon {
  display: grid;
  align-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  cursor: pointer;
  background-color: lightblue;
  padding: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#hamburger-icon.active {
  background-color: rgb(233, 164, 164);
}

#hamburger-icon:hover,
#hamburger-icon.active:hover {
  background-color: rgb(217, 239, 246);
}

#hamburger-icon>svg {
  width: 20px;
  height: 20px;
}

#buttons {
  position: absolute;
  top: 30px;
  display: none;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  &>.btn {
    width: 110px;
  }
}

#reset {
  background-color: rgb(255, 0, 0);
  right: 2%;
  top: calc(2%);
  position: absolute;
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px 12px;
  color: white;
  font-family: sans-serif, Arial;
  width: 65px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#reset:hover {
  background-color: rgb(255, 51, 51);
}

#reset.clicked {
  background-color: rgb(255, 102, 102);
}

.size-buttons {
  position: absolute;
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 120px;
  gap: 15px;
}

.size-buttons>button {
  width: 80px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(122, 200, 122)
}

.size-buttons>button:hover {
  background-color: rgb(142, 210, 142);
}

.size-buttons>button.clicked {
  background-color: rgb(162, 220, 162);
}

.size-buttons>button.active {
  background-color: rgb(255, 100, 100);
  color: white;
}

.disabled {
  opacity: 0.5 !important;
  pointer-events: none;
}

#left-tank-buttons {
  left: 1%;
  bottom: 30%;
}

#right-tank-buttons {
  right: 1%;
  bottom: 30%;
}

#sliders {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  width: max-content;
  gap: 10px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
}

.slider-container {
  display: grid;
  grid-template-columns: 120px 150px 22px 50px;
  align-items: end;
  gap: 7px;
}

.slider-label {
  text-align: right;
}

.value-label {
  text-align: right;
}

#sounds {
  position: absolute;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 45px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(81, 196, 250);
  gap: 0px;
  top: 55px;
  right: 3%;
  cursor: pointer;
}

#sounds:hover {
  background-color: rgb(91, 206, 255);
}

#sound-on {
  display: none;
}

@media screen and (min-width: 1080px) {
  #reset {
    font-size: 1.1rem;
    width: 90px;
  }
  #sounds {
    width: 50px;
    height: 35px;
    top: 70px;
  }
  #sound-on,
  #sound-off {
    transform: scale(1.1);
  }
  #sliders {
    font-size: 0.9rem;
  }
  .slider-container {
    grid-template-columns: 130px 200px 25px 50px;
  }
}

@media screen and (min-width: 1320px) {
  #hamburger-icon {
    padding: 6px;
  }
  #hamburger-icon>svg {
    width: 32px;
    height: 32px;
  }
  #buttons {
    top: 35px;
    padding: 15px;
  }
  #reset {
    font-size: 1.2rem;
    width: 100px;
  }
  #sounds {
    width: 60px;
    height: 40px;
    top: 80px;
  }
  #sound-on,
  #sound-off {
    transform: scale(1.2);
  }
  #sliders {
    font-size: 1rem;
  }
  .slider-container {
    grid-template-columns: 150px 250px 30px 60px;
  }
}