@charset "UTF-8";
/* CSS Document */

:root {
  font-size:10px;
}

body {
  font-size:1.6rem;
  margin: 20px 0px;
  overflow: visible;
  /* transform: translateY(20px); */
}

.molecule {
  position: absolute;
}

#canvas0 {
  background: rgb(255, 255, 255);
  border: 2px solid black;
  /* margin: auto; */
  position: absolute;
  /* left: 0px; */
  left: calc(50vw - 125px);
  transform: translateX(-50%);
}

#liqCanvas {
  outline: 1px solid rgba(50, 50, 125, 0.7);
  position: absolute;
  background: rgba(25, 25, 60, 0.35);
}

#vapCanvas {
  position: absolute;
}

#nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  height: 20px;
  background: rgba(0, 0, 0, 0.4);
  outline: none;
  -webkit-transition: .2s;
  transition: background .2s;
}

.slider:hover {
  background: rgba(0, 0, 0, 0.3);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2e316d;
  border: 2px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #2e316d;
  border: 2px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.label {
  font-size: 1.5rem;
  font-family: sans-serif;
}