$modal-sm: calc( 100vw - 50px );
$modal-md: calc( 100vw - 50px );
$modal-lg: 800px;
$modal-xl: 1140px;

@import "bootstrap";
@import "./slider.scss";

.simulation-controls {
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: center;
  gap: 30px;
  width: 100vw;
}

.modal-buttons-row {
  display: grid;
  grid-template-columns: repeat(3, 12ch );
  gap: 10px;
  margin: 0.5rem 1rem;
  justify-content: center;
  align-content: center;
  .btn {
    height: max-content;
  }
}

.input-area {
  display: grid;
  grid-template-columns: max-content;
  margin: 20px auto;
  gap: 10px;
  width: max-content;
  justify-items: center;

  .mode-selection-row {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column: 1 / 3;
    gap: 10px;
    align-items: center;
    .mode-selection-menu {
      select {
        padding: 5px;
      }
    }
  }

  .input-row {
    display: grid;
    grid-template-columns: 150px 12rem 27px 3ch;
    gap: 1ch;
    align-items: end;
    grid-column: 1 / 3;
    max-height: 30px;
  
    .data-name {
      justify-self: end;
    }

    .data-value {
      text-align: end;
    }
// Was calc(max(3ch, max-content))
    #t-value {
      width: 3ch;
      margin-right: -8px;
    }
  }

  .input-select {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 15px;
    align-items: center;

    .select-label {
      text-align: right;
    }

    #select-reaction {
      padding: 0.25rem;
    }
  }
}

#pressure-row {
  display: none;
}

#equation-instructions {
  position: absolute;
  transition: opacity 0.25s;
  color: #198754;
}

#begin-calculation {
  width: 17ch;
}

#p5-container {
  width: max-content;
  margin: auto;
}

canvas {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0px 0px 2px 2px lightgrey;
}

#loading {
  margin-left: 15px;
  font-size: 1.5rem;
  width: 100vw;
  text-align: center;
}

.modal.show {
  padding-left: 0px !important;
}

.modal-body {
  text-align: left;
  font-size: 0.9rem;

  .references {
    font-size: 0.8rem;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &>li {
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
    }
  }

}

.simulation-title {
  width: 100vw;
  text-align: center;
  padding: 8px;
  padding-bottom: 10px;
  font-size: 1.25rem;
  background-color: rgb(240, 240, 240);
}

#details-tabs-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  gap: 0px;
  position: relative;
  min-height: 765px;
  justify-content: center;

  .tab-header {
    background-color: rgb(240, 240, 240);
    padding: 8px 10px;
    border: 1px solid grey;
    font-size: 0.85rem;
    height: 40px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .tab-header:hover {
    background-color: rgb(250, 250, 250);
  }

  .tab-header.active {
    background-color: rgb(225, 225, 225);
  }

  .tab-content {
    grid-column: 1 / 6;
    min-height: 747px;
    position: absolute;
    width: 100%;
    top: 40px;
    padding: 20px;
    opacity: 0;
    background-color: rgb(250, 250, 250);
    border: 1px solid black;
    border-width: 0px 1px 1px 1px;
    z-index: 0;

    mjx-container {
      transform: translateX(20px);
      z-index: 1;
    }
  }

  .tab-content.active {
    opacity: 1;
    z-index: 1;
  }
}

@media screen and (max-width: 850px) {
  #details-tabs-container > .tab-header {
    font-size: 0.75rem;
    height: 38px;
  }
  #details-tabs-container > .tab-content {
    font-size: 0.75rem;
    top: 38px;
  }
}

@media screen and (max-width: 750px) {
  #details-tabs-container > .tab-header {
    font-size: 0.65rem;
    height: 35px;
    padding: 8px 2px;
  }
  #details-tabs-container > .tab-content {
    font-size: 0.65rem;
    top: 35px;
  }
}

@media screen and (max-width: 575px) {
  #details-tabs-container > .tab-header {
    font-size: 0.5rem;
    height: 35px;
    padding: 8px 2px;
  }
  #details-tabs-container > .tab-content {
    font-size: 0.5rem;
    top: 35px;
  }
}