.tooltip-selector {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tooltip {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 16px;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    transform: translateX(-50%);
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 12px;
    border-width: 6px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}