@import "bootstrap";

#app {
  width: 600px;
}

#controls {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 1rem;
}

.control {
  display: grid;
  width: 100%;
    
  label {
    text-align: center;
  }

}

#annotation {
  padding: 0rem 1.5rem;
}

#graphic-container {
  margin: 1rem;

  .textBox {
    position: absolute;
    display: grid;
    padding-left: 0.25rem;
    
    &.above {
      align-items: end;
    }
  }

  #textBox-6 {
    grid-template-columns: 1fr 2fr;
    .left {
      justify-self: center;
    }
  }
}
