$modal-lg: 980px;

@import "bootstrap";

#doc {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#app {
  width: 500px;
}

#controls {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  justify-content: center;
  gap: 1rem;
  
  .control {
    display: grid;
    width: 100%;
      
    label {
      text-align: center;
    }
  
  }

  .button {
    height: min-content;
    align-self: end;
  }
}

#annotation {
  padding: 1rem 1rem;
  text-align: justify;

  .ref-header {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .reference {
    font-size: 0.8rem;
    line-height: 1rem;
    padding-bottom: 0.75rem;
    text-align: left;
  }
}

.modal-body p {
  text-align: justify;
}

#graphic-container {
  margin: 1rem;

  .textBox {
    position: absolute;
    display: grid;
    padding-left: 0.25rem;
    
    &.above {
      align-items: end;
    }
  }

  #textBox-6 {
    grid-template-columns: 1fr 2fr;
    .left {
      justify-self: center;
    }
  }
}

.details-paragraph {
  padding-bottom: 1rem;
}

.details-math {
  width: min-content;
  margin-left: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.details-header {
  margin-bottom: 2rem;
}