$modal-sm: calc(100vw - 50px);
$modal-md: calc(100vw - 50px);
$modal-lg: 800px;
$modal-xl: 1140px;
@import "bootstrap";
@import "./slider.scss";

.simulation-controls {
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: center;
    gap: 0px 20px;
    width: 100vw;
}

.modal-buttons-row {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 10px;
    margin: 0.5rem auto;
    justify-content: center;
    align-content: center;
    .btn {
        height: max-content;
        width: 12ch;
    }
}

.input-area {
    display: grid;
    grid-template-columns: max-content;
    margin: 20px auto;
    height: 75px;
    gap: 10px;
    justify-items: center;
    &>div {
        width: 515px;
        justify-content: center;
    }
}

.input-row {
    display: grid;
    grid-template-columns: max-content 8rem 28px;
    gap: 1ch;
    align-items: end;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 8px;
    .data-name {
        justify-self: end;
    }
    .data-value {
        text-align: end;
    }
}

.buttons-row {
    display: grid;
    font-size: 14px;
    div {
        padding: 5px 8px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        background-color: rgb(238, 238, 255);
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }
    div:hover {
        background-color: rgb(250, 250, 255);
    }
    .first {
        border-left: 1px solid black;
        border-radius: 5px 0px 0px 5px;
    }
    .last {
        border-radius: 0px 5px 5px 0px;
    }
    .selected {
        background-color: rgb(212, 212, 252);
    }
    .selected:hover {
        background-color: rgb(212, 212, 252);
    }
}

#steps-button-row-container {
    grid-template-columns: repeat(4, max-content);
}

#changing-inputs-container {
    display: grid;
}

#step-1-buttons-row, #step-2-buttons-row {
    grid-template-columns: repeat(3, max-content);
}

#steps-2-through-4-container {
    display: grid;
    grid-template-columns: max-content max-content;
    font-size: 14px;
    gap: 15px;
}

#step-stages-container {
    grid-template-columns: max-content 8rem;
}

#p5-container {
    width: max-content;
    margin: auto;
}

canvas {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0px 0px 2px 2px lightgrey;
}

.modal.show {
    padding-left: 0px !important;
}

.modal-body {
    text-align: left;
    font-size: 0.9rem;
    .details-text {
        margin-left: 20px;
    }
}

*[disabled="yes"] {
    opacity: 0.3 !important;
    pointer-events: none;
}