.control-button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.3s;
  outline: none;
  box-shadow: 0 0 2px 2px rgba(.2,.2,.2,.2);
}
.control-button:hover {
  background-color: #ddd;
}

.active {
  background-color: #3498db;
  color: white;
}
.control-button.active:hover {
  background-color: #2980b9;
}